.box{
  @extend .defWidth;
  margin-top: 20px;
  margin-bottom: 20px;

  &Title {
    margin: 0 0 20px 0;
    font-weight: 700;
    color:#3b2a78;
    font-size: 171.428571429%;
  }

  &Toggle {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    cursor: pointer;
    background: url("img/plusCircle.svg") center center no-repeat;
    background-size: 50px 50px;
    transform: rotate(-45deg);
  }
}