.filter {
  background-color: #eee;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  margin-bottom: 20px;

  &Box {

    &Title {
      line-height: 1.2;
      text-align: left;
      color: #0e071e;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
      word-wrap: break-word;
      font-size: 24px;
      @media all and (max-width: 959px) {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 20px;
      }

    }

    &Content {

    }

  }

  &Ch {
    margin: 0 20px 20px 20px;
    min-height: 40px;
    position: relative;
    overflow: hidden;

    @media all and (max-width: 959px) {
      margin-left: 0px;
      margin-right: 0px;
    }

    input {
      position: absolute;
      left: -30px;
      top: 0;
    }

    label {
      min-height: 40px;
      display: block;
      background-color: #fff;
      font-size: 18px;
      line-height: 20px;
      padding: 10px 5px 10px 5px;
      text-align: center;
      color: #b6b4ba;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
      cursor: pointer;
    }

    input:checked + label {
      border: solid 1px #492582;
      border-left: 15px solid #492582;
      color: #492582;
      padding: 9px 14px 9px 0;
    }

  }

  &Toggle {
    display: none;
  }

  @media all and (max-width: 767px) {
    max-height: 0;
    transition: all 0.5s;
    padding-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;

    .showFilter & {
      max-height: 100000px;
      padding-top: 30px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    &Toggle {
      position: relative;
      width: 100%;
      background-color: #65478a;
      color: #fff;
      padding: 12px;
      height: auto;
      line-height: 20px;
      cursor: pointer;
      display: block;
      margin: 0 0 15px 0;
    }
  }
}