.order {
  overflow: hidden;
  position: relative;

  &Code {
    padding: 0 140px 30px 0;
    position: relative;
    overflow: hidden;

    input {
      margin: 0;
      outline: none;
    }

    &Btn {
      @extend .defFormSubmit;
      position: absolute;
      right: 18px;
      top: 0;
      width: 130px;
      min-width: 130px !important;
      margin: 0 !important;
      float: none;
      text-decoration: none;
    }
  }

  &Inner {
    background: #eee;
    padding: 20px 40px 55px 40px;

    @media all and (max-width: 767px) {
      padding: 10px;
    }
  }

  &Tabs {
    max-width: 832px;
    margin: 35px auto 0 auto;

    &Header {
      text-align: center;
      padding: 0 0 10px 0;

      a {
        font-size: 26px;
        color: #a7a7a7;
        text-decoration: none;
        line-height: 30px;
        display: inline-block;
        margin: 0 18px;

        &.active, &:hover, &:active {
          color: $templateColor;
          text-decoration: none;
        }
      }
    }

    &Content {
      padding: 30px 0 0 0;
    }
  }

  &Total {
    padding: 0 0 20px 0;
    border-bottom: solid 1px #a6a6a6;
    overflow: hidden;

    &Title {
      font-size: 16px;
      line-height: 30px;
      color: #000000;
      float: left;
    }

    &Sum {
      font-size: 26px;
      line-height: 30px;
      color: #000000;
      float: right;
      min-width: 170px;

      @media all and (max-width: 959px) {
        min-width: auto;
      }

      span {
        &:after {
          @extend .rub;
          font-size: 16px;
          content: "a";
          font-weight: 400;
          padding: 0 0 0 5px;
        }
      }
    }

    @media all and (max-width: 479px) {
      text-align: center;
      &Title {
        float: none;
        display: block;
        padding: 0 0 10px 0;
      }

      &Sum {
        float: none;
      }
    }
  }

}

.contentInner {
  padding: 0 40px 0 24px;

  @media all and (max-width: 767px) {
    padding: 0;
  }
}

#ORDER_FORM_ID_NEW {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: "";
    z-index: 10;
    display: none;
    background-image: url("img/line-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s;
  }

  &.loading {
    &:after {
      display: block;
      opacity: 1;
    }
  }
}

.defForm {

  &Row {
    margin: 30px -18px 0 -18px;
    //overflow: hidden;
    display: table;
    min-width: 100%;
    clear: both;

    @media all and (max-width: 959px) {
      display: block;
    }

    &:after {
      clear: both;
      content: "";
      height: 0;
      overflow: hidden;
    }

    &:first-child {
      margin-top: 0;
    }

    &_simple {
      margin: 15px 0 0 0;
    }
    &_simple &Col {
      padding: 0;
    }
    &Col {
      padding: 0 18px;
      float: left;
      width: 50%;

      @media all and (max-width: 959px) {
        float: none;
        width: auto;

        & + & {
          margin-top: 30px;
        }
      }

      &_wide {
        float: none;
        width: auto;
      }

      & > label {
        color: #a7a7a7;
        font-size: 16px;
        line-height: 20px;
        display: block;
        margin: 0 0 4px 0;

        span {
          color: #e22319;
        }
      }

      input[type="text"],
      input[type="date"],
      input[type="password"],
      input[type="number"],
      input[type="email"],
      textarea,
      select {
        //width: 100%;
        //border: solid 1px #dddddd;
        //line-height: 24px;
        /*        color: #000000;
                display: inline-block;
                //padding: 12px 0;
                text-indent: 18px;
                background: blue;
                outline: none;
                resize: none;
                min-height: 50px;
                vertical-align: top;
                font: $mainFont;
                font-size: 16px;*/

        display: inline-block;
        vertical-align: top;
        width: 100%;
        resize: none;
        height: 50px;
        padding: 5px 5px 5px 18px;
        background: #fff;
        border: 1px solid #dddddd;
        border-radius: 0px;

        &:invalid {
          //background-color: red;
        }
      }

      select {
        //height: 50px;
      }

      textarea {
        height: 80px;
        white-space: normal;
        line-height: 20px;
        text-indent: 0;
        resize: none;
      }
    }
  }

  &Functional {
    margin: 39px 0 0 0;
    overflow: hidden;

    &Content {
      display: table;

      @media all and (max-width: 767px) {
        display: block;
        margin: 20px 0 0 0;
      }
    }

    &Link {
      color: $templateColor !important;
      text-decoration: none;
      display: inline-block;
      line-height: 20px;
      margin: 10px 0 0 0;

      &:hover,
      &:active {
        color: $templateColor;
        text-decoration: underline;
      }
    }
  }

  &Row_simple + &Functional {
    margin: 20px 0 0 0;
  }

  &Ch {
    font-size: 16px;
    line-height: 18px;
    padding: 4px 0;

    input {
      outline: none;
    }
  }

  &Submit {
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff !important;
    text-align: center;
    text-transform: uppercase;
    background: $templateColor;
    padding: 15px 5px;
    border: none;
    outline: none;
    float: left;
    margin: 0 35px 0 0;

    @media all and (max-width: 767px) {
      float: none;
      display: inline-block;
    }
  }

  &SubmitFalseBtn {
    display: none;
  }

  &Info {
    margin: 15px auto 0 auto;
    color: #a7a7a7;
    font-size: 14px;
    line-height: 16px;

    .order & {
      max-width: 832px;
    }

    a {
      color: $templateColor;
      text-decoration: none;

      &:hover,
      &:active {
        color: $templateColor;
        text-decoration: underline;
      }
    }

  }

  &Required {
    margin: 40px auto 0 auto;
    font-size: 16px;
    color: #000000;
    line-height: 20px;

    .order & {
      max-width: 832px;
    }

    span {
      color: #e2231b;
    }
  }
}

.city_input_wrap {
  position: relative;
}

#select_city_ul {
  background-color: #fff;
  max-height: 300px;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  border: 1px solid #dddddd;
  display: none;

  li {
    cursor: pointer;
    padding: 3px;
    border: solid 2px #fff;
    border-radius: 2px;
    transition: all 0.5s;

    &:hover {
      background-color: #e3e3e3;
    }
  }

  &.active {
    display: block;
  }
}

/*input:focus + #select_city_ul {
  display: block;
}*/

/*
.slider-compare {
  padding: 0 60px 0 0;
}

.compareListSlider {
  .slick-arrow {
    position: absolute;
    top: 60px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: 100px;
    background-color: transparent;
    border: none;
    outline: none;

    &.slick-disabled {
      display: none !important;
    }
  }

  .slick-prev {
    @extend .icon-slider-prev;
    left: -60px;
  }

  .slick-next {
    @extend .icon-slider-next;
    right: -60px;
  }
}*/
