.basket {

  &Info {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  &Inner {
    display: table;
    width: 100%;
  }

  &Content {
    width: 73%;
    float: left;
    padding-right: 4%;

    @media all and (max-width: 959px) {
      padding: 0;
      width: auto;
      float: none;
    }
  }

  &Sidebar {
    width: 27%;
    float: right;
    padding: 1px 20px 25px;
    position: relative;
    background: #eee;

    @media all and (max-width: 959px) {
      width: auto;
      float: none;
      margin: 30px 0 0 0;
    }

    &Title {
      padding: 12px 0;
      font-weight: 700;
      margin-bottom: 7px;
      line-height: 28px;
      font-size: 18px;
    }

    &PreTotal {
      padding: 17px 0 0;
      border-top: solid 1px grey;
      overflow: hidden;

      & > span {
        font-size: 16px;
        line-height: 20px;
      }

      &Num {
        font-size: 16px;
        line-height: 20px;
        float: right;

        &:after {
          @extend .rub;
          //font-size: 16px;
          content: "a";
          font-weight: 400;
          padding: 0 0 0 5px;
        }
      }
    }
    &Discount {
      padding: 17px 0 0;
      overflow: hidden;

      & > span {
        font-size: 14px;
        line-height: 20px;
      }

      &Num {
        font-size: 14px;
        line-height: 20px;
        float: right;

        &:after {
          @extend .rub;
          //font-size: 16px;
          content: "a";
          font-weight: 400;
          padding: 0 0 0 5px;
        }
      }
    }

    &Total {
      margin: 17px 0 0 0;
      padding: 20px 0 0;
      overflow: hidden;
      font-weight: 600;
      border-top: solid 1px grey;

      & > span {
        font-size: 16px;
        line-height: 20px;
      }

      &Num {
        font-size: 16px;
        line-height: 20px;
        float: right;

        &:after {
          @extend .rub;
          //font-size: 16px;
          content: "a";
          font-weight: 400;
          padding: 0 0 0 5px;
        }
      }
    }
  }

  &Submit {
    min-height: 60px;
    font-size: 28px;
    background: $templateSecondColor;
    border: none;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 5px;
    color: #fff;
    width: 100%;
    margin: 30px 0 0 0;
    display: block;
    text-align: center;
  }

  &Header {
    border-bottom: solid 1px #000;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding: 0 0 20px 0;
    overflow: hidden;

    @media all and (max-width: 767px) {
      display: none;
    }

    span {
      float: left;
      width: 590px;
      width: 51.74%;

      &:first-child {
        //padding-left: 32px;
      }

      & + span {
        width: 170px;
        width: 14.91%;
      }
    }
  }

  @media all and (max-width: 959px) {
    // display: none;
  }

  &List {
    &Info {
      font-size: 16px;
      margin-bottom: 14px;
      color: #c2c2c2;
      margin: 20px 0 0 0;
    }
  }

  &Code {
    margin: 20px 0 0 0;

    &Title {
      color: #65478a;
      font-size: 20px;
      margin: 0 0 10px 0;
    }

    &Inner {

    }

    &Input {
      background: #fff;
      background-clip: padding-box;
      border: 1px solid #c2c2c2;
      border-radius: 1px;
      font-size: 14px;
      line-height: 21px;
      padding: 10px 9px;
      height: 43px;
      color: #c2c2c2;
      width: 207px;
      display: inline-block;
      vertical-align: top;
    }

    &Btn {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 20px;
      font-size: 18px;
      background: #65478a;
      color: #fff;
      border: none;
      box-shadow: none;
      border-radius: unset;
      cursor: pointer;
      min-width: 100px;
      height: 43px;
      padding: 10px 0;
      text-align: center;
      line-height: 23px;
    }

    @media all and (max-width: 400px) {
      &Input {
        width: 100%;
        display: block;
      }

      &Btn {
        width: 100%;
        display: block;
        margin: 5px 0 0 0;
      }
    }
  }

  &ShoppingLink {
    display: inline-block;
    color: #65478a;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    margin: 30px 0 0 0;

    &:hover {
      color: #65478a;
      text-decoration: none;
    }
  }

  &El {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    position: relative;
    padding: 8px 0;

    & + & {
      border-top: solid 1px #e3e3e3;
    }

    & > * {

    }

    &Img {
      display: inline-block;
      vertical-align: middle;
      width: 110px;
      width: 12.28%;
      padding: 0 15px 0 20px;
      text-align: center;

      img {

      }
    }

    &Name {
      display: inline-block;
      vertical-align: middle;
      width: 445px;
      width: 39.46%;
      padding: 0 10px 0 0;
      font-size: 16px;
      line-height: 20px;
      word-spacing: normal;
      letter-spacing: normal;

      a {
        font-size: 16px;
        color: #333;
        white-space: break-word;
        text-decoration: none;

        &:hover, &:active {
          color: #333;
          text-decoration: underline;
        }
      }

    }

    &Info {
      width: 550px;
      width: 48.26%;
      padding: 0 60px 0 0;
      vertical-align: middle;
      display: inline-block;
    }

    &Price {
      font-size: 16px;
      line-height: 20px;
      word-spacing: normal;
      letter-spacing: normal;
      display: inline-block;
      width: 170px;
      width: 34.7%;
      vertical-align: middle;

      &Current {
        font-size: 18px;
        line-height: 20px;
        color: #333;
        font-weight: 400;

        span {
          &:after {
            @extend .rub;
            //font-size: 16px;
            content: "a";
            font-weight: 400;
            padding: 0 0 0 5px;
          }
        }
      }
      &Old {
        font-size: 14px;
        line-height: 20px;
        color: grey;
        font-weight: 400;

        span {
          text-decoration: line-through;

          &:after {
            @extend .rub;
            //font-size: 16px;
            content: "a";
            font-weight: 400;
            padding: 0 0 0 5px;
          }
        }
      }
    }

    &Qnt {
      font-size: 16px;
      line-height: 20px;
      word-spacing: normal;
      letter-spacing: normal;
      display: inline-block;
      width: 75px;
      width: 15.3%;
      vertical-align: middle;
      padding: 0 32px 0 0;
      height: 40px;
      text-align: center;
      position: relative;

      .plus {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        cursor: pointer;
        width: 32px;
        height: 20px;
        display: block;
        //@extend .icon-qnt-minus;
        //@extend .svg-minus;
        white-space: nowrap;
        overflow: hidden;
        text-indent: 0px;
        background: url("img/selectoption.svg") center center no-repeat;
        background-size: 14px 6px;
        transform: rotate(180deg);
        transform-origin: center center;
      }

      .minus {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        cursor: pointer;
        width: 32px;
        height: 20px;
        display: block;
        //@extend .icon-qnt-minus;
        //@extend .svg-minus;
        white-space: nowrap;
        overflow: hidden;
        text-indent: 0px;
        background: url("img/selectoption.svg") center center no-repeat;
        background-size: 14px 6px;
      }

      input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
        padding: 10px 2px;
        display: block;
        border: none;
        outline: none;
        text-align: center;
        color: #333;
      }
    }

    &Remove {
      position: absolute;
      //@extend .icon-basket-remove;
      //@extend .svg-remove;
      right: 0px;
      top: 50%;
      display: block;
      margin: -15px 0 0 0;
      cursor: pointer;
      width: 30px;
      height: 30px;
      background: url("img/plusCircle.svg") center center no-repeat;
      background-size: 30px 30px;

      &:hover {
        //@extend .icon-basket-remove-active;
        //@extend .svg-remove-h;
      }

      i {
        display: none;
      }
    }

    &Total {
      font-size: 18px;
      line-height: 20px;
      word-spacing: normal;
      letter-spacing: normal;
      display: inline-block;
      width: 245px;
      width: 50.0%;
      text-align: right;
      vertical-align: middle;

      &Current {
        text-align: left;
        font-size: 18px;
        line-height: 20px;
        color: #333;
        width: 150px;
        display: inline-block;

        span {
          &:after {
            @extend .rub;
            content: "a";
            font-weight: 400;
            padding: 0 0 0 5px;
          }
        }
      }
    }

    @media all and (max-width: 959px) {
      &Img {
        padding: 0;
      }

      &Name {
        padding-left: 10px;
      }
      &Total {
        width: 43%;
        text-align: right;

        &Current {
          width: auto;
          font-size: 18px;
        }
      }
      &Price {
        width: 35%;
        &Current {
          font-size: 18px;
        }
      }
      &Qnt {
        width: 22%;
      }
    }

    @media all and (max-width: 767px) {
      &Img {
        width: 20%;
      }

      &Name {
        width: 80%;
        padding-right: 34px;
      }

      &Info {
        width: auto;
        display: block;
        margin: 10px 0 0 0;
        padding: 0;
        position: relative;
      }

      &Remove {
        right: 0px;
        margin: 0;
        top: 19px;
      }
    }
  }
}
