.catalog {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;
  margin: -10px 0 0 0;

  &List {
    margin: 0 -10px;
    @media all and (max-width: 767px) {
      margin: 0 -5px;
    }
  }

  &El {
    padding: 1px;
    border: solid 10px #fff;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    outline: none;
    width: 33.3333%;
    position: relative;

    @media all and (max-width: 959px) {
      width: 50%;
      margin-bottom: 0px;
    }
    @media all and (max-width: 767px) {
      border: solid 5px #fff;
    }


    &:hover {
      text-decoration: none;
    }

    &:before {
      border: solid 1px #d8d8d8;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      content: "";
      z-index: 1;
    }

    &Link {
      position: relative;
      z-index: 6;
      display: block;
    }

    &Compare {
      margin-top: 15px;
      display: block;
      margin-bottom: 5px;
      position: relative;
      text-align: center;
      z-index: 5;

      i {
        @extend .checkboxIcon;
        font-style: normal;
        display: inline-block;
      }

      span {
        display: inline-block;
      }

      span + span {
        display: none;
      }

    }

    &.activeCompare {
      background-color: #f7f7f7;
    }
    &.activeCompare &Compare {
      i {
        @extend .checkboxChIcon;
      }
      span {
        display: none;
      }

      span + span {
        display: inline-block;
      }

    }
    &Img {
      img {
        display: block;
        max-width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &Content {
      position: relative;
      width: 100%;
      display: block;
      padding: 10px 20px;

      @media all and (max-width: 767px) {
        padding: 10px 5px;
      }
    }

    &Name {
      font-size: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 20px;
      letter-spacing: normal;
      margin: 0 0 10px 0;
    }

    &Info {
      height: 40px;
      overflow: hidden;
      overflow-wrap: break-word;
      margin: 10px 0px;
    }

    &Price {
      color: #492582;
      font-size: 14px;
      line-height: 18px;
      padding: 10px 0 0 0;
      margin: 10px 0 0 0;
      border-top: 1px solid #eee;

      &:after {
        @extend .rub;
        //font-size: 16px;
        content: "a";
        font-weight: 400;
        padding: 0 0 0 5px;
      }
    }
  }

  &ShowMore {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    cursor: pointer;
    background: url("img/plusCircle.svg") center center no-repeat;
    background-size: 50px 50px;
    transform: rotate(-45deg);
  }
}