.products {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;

  &List {
    margin: 0 -10px;
    @media all and (max-width: 767px) {
      margin: 0;
    }
  }

  &El {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 18px;
    word-spacing: normal;
    letter-spacing: normal;
    text-decoration: none;
    outline: none;
    width: 25%;

    @media all and (max-width: 959px) {
      width: 50%;
    }
    @media all and (max-width: 767px) {
      width: 100%;
      padding: 0;
    }

    &:hover {
      text-decoration: none;
    }

    &Img {
      display: block;
      width: 100%;
      padding-top: 75%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: auto;
      margin-right: auto;
      position: relative;

      img {
        opacity: 0;
        width: 1px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &Content {
      position: relative;
      width: 100%;
      display: block;
      background-color: #eee;
      padding-bottom: 10px;
      padding-top: 20px;
    }

    &Name {
      font-size: 16px;
      height: 39px;
      overflow-wrap: break-word;
      margin-left: 20px;
      margin-right: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      color: #492582;
      display: block;
      overflow: hidden;
    }

    &Info {
      height: 40px;
      overflow: hidden;
      overflow-wrap: break-word;
      margin: 10px 20px;
    }
  }
}