.card .textBox {

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #492582;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #492582;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
  }
  ul {
    padding-left: 16px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 20px;
    display: block;

    li {
      list-style-type: square;
      margin: 0 0 10px 0;
    }
  }

  ol {
    padding-left: 16px;
    margin: 20px 0;
    font-size: 16px;
    line-height: 20px;
    display: block;

    li {
      margin: 0 0 10px 0;
    }
  }
  table {
    width: 100%;
    margin: 10px 0;

    tr {
      td {
        padding: 10px 20px;
        font-size: 16px;
        line-height: 20px;
      }

      &:nth-of-type(even) {
        background-color: #f9f9f9;
      }
    }
  }
}
.textBox{
  overflow: hidden;

  .colorBlue {
    color: #009feb !important;
  }
 .colorPurple {
     color: #492582 !important;
   }

  &Col {
    margin: 20px -20px;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;

    &El {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 10px 20px;
      font-size: 18px;
      line-height: 1.5;
      word-spacing: normal;
      letter-spacing: normal;
      text-align: right;

      & + & {
        text-align: left;
      }


      &Title {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 15px;
      }

      @media all and (max-width: 959px) {
        & {
          width: auto;
          display: block;
          text-align: left;
        }
      }
    }
  }

  &Info {
    margin: 40px 0 0 0;

    &Title {
      font-size: 20px;
      line-height: 1.5;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

    &List {
      font-size: 0;
      line-height: 0;
      word-spacing: 0;
      letter-spacing: 0;
      margin: 10px -10px 0 -10px;
    }

    &El {
      font-size: 18px;
      line-height: 1.25;
      word-spacing: normal;
      letter-spacing: normal;
      display: inline-block;
      vertical-align: top;
      width: 25%;
      padding: 0 10px 30px 10px;

      @media all and (max-width: 959px) {
        width: 50%;
      }

      &Img {
        text-align: center;
      }

      &Title {
        margin-top: 10px;
        margin-bottom: 15px;
        color: #492582;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
      }
      &Text {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #4d4f52;
      }

      @media screen and (max-width: 800px) {
        &Title {
          font-size: 4vw;
        }
        &Text {
          font-size: 3vw;
        }
      }
    }
  }
}
.content > .textBox {
  font-size: 18px;
  color: #4d4f52;
  line-height: 1.5;

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
    text-align: center;
    color: #492582;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 400;
  }
  h3 {
    vertical-align: middle;
    text-align: center;
    color: #492582;
    font-size: 36px;
    line-height: 1.25;
    font-weight: 400;
    margin: 40px 0 15px 0;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
    text-align: center;
    color: #4d4f52;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
  }
  section {
    font-size: 20px;
    line-height: 1.5;
    color: #4d4f52;
  }

  @media screen and (max-width: 800px) {
    h2 {
      font-size: 8vw;
    }
    h3 {
      font-size: 6vw;
    }
    h4 {
      font-size: 4vw;
    }
  }


}