.banners{
  @extend .globalBox;

  &List {
    margin: 0 -15px;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
  }
  &El {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    padding: 0 15px;

    img {
      width: 100%;
      height: auto;
    }
    @media all and (max-width: 767px) {
      width: 100%;
      display: block;
      padding: 15px;
    }
  }
}