.gallery {
  overflow: hidden;
  padding: 15px 0;

  &List {
    margin: 0 -15px;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    column-count: 3;

    @media all and (max-width: 767px) {
      column-count: 2;
      margin: 0 -5px;
    }


  }

  &List > a, &ListEl{
    padding: 15px 15px;
    display: block;
    text-decoration: none;
    clear: both;
    break-inside: avoid;

    @media all and (max-width: 767px) {
      padding: 5px;
    }

    img {
      width: 100%;
      display: block;
      height: auto;
    }


  }

  &ListEl{
    position: relative;

    &Content {
      //top: 15px;
      //left: 15px;
      //right: 15px;
      //bottom: 15px;
      display: block;
      position: relative;
      padding: 30px;
      //background-color: rgba(0, 0, 0, 0.05);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:before{
        background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.9));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 0;
      }

      @media all and (max-width: 767px) {
        //top: 5px;
        //left: 5px;
        //right: 5px;
        //bottom: 5px;
      }
    }

    &Title {
      font-weight: 700;
      position: relative;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 1.2;
      display: block;
      color:#fff;
      font-family: $titleFont;
      z-index: 1;

      @media all and (max-width: 767px) {
        font-size: 18px;
      }
    }

    &SubTitle {
      margin: 10px 0 0 0;
      font-size: 16px;
      line-height: 18px;
      font-family: $titleFont;
      color:#fff;
      position: relative;
      display: block;
      z-index: 1;

      @media all and (max-width: 767px) {
        font-size: 14px;
      }
    }

    &Social {
      margin: 20px 0 0 0;
      position: relative;
      z-index: 1;
    }
  }
}