.mainHeader {
  background: $yellowColor;
  position: relative;
  z-index: 500;

  &Top {
    padding: 12px 0;

    &Title {
      color: #212529;
      margin-bottom: 0;
      line-height: 26px;
      font-size: 1.4rem;
      display: inline-block;
      vertical-align: top;
    }

    &Nav {
      float: right;
      padding: 6px 0;

      a {
        display: inline-block;
        vertical-align: top;
        padding-right: 12px;
        padding-left: 12px;
        //font-size: 12px;
        line-height: 14px;
        color: #212529;
        position: relative;

        & + a {
          border-left: solid 1px #000;
        }
      }
    }
  }

  &Inner {
    @extend .globalBox;
    width: auto !important;
    max-width: 1230px !important;
  }

  &Content {
    padding: 20px 0;
  }

  &Content &Inner {
    height: 42px;
  }

  &Logo {
    position: relative;
    width: 160px;
    margin: 0;
    height: 84px;
    top: -28px;
    display: inline-block;
    vertical-align: top;
    background: url("img/logo.svg") center center no-repeat;
    background-size: contain;

    .piano & {
      background-image: url("img/svg/piano-11.svg");
      top: -20px;
      width: 220px;
    }

    .piano.v2 & {
      background-image: url("img/svg/piano-22.svg");
    }
  }

  @media all and (min-width: 768px) {
    &Basket:hover &Products {
      display: block;
      max-height: none;
      opacity: 1;
      padding: 15px 0 0 0;

      &:before {
        opacity: 1;
        display: block;
      }
    }

    &Compare:hover &Products,
    &Fav:hover &Products {
      display: block;
      max-height: none;
      opacity: 1;
      padding: 15px 0 0 0;

      &:before {
        opacity: 1;
        display: block;
      }
    }
  }

  &Products {
    position: absolute;
    right: 0;
    top: 100%;
    width: 370px;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s;

    @media all and (max-width: 767px) {
      display: none !important;
    }

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: 6px;
      right: 7px;
      content: "";
      display: none;
      z-index: 1;
      //opacity: 0;
      //transition: opacity 0.5s;
    }

    &List {
      position: relative;
      padding: 20px;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      border-bottom: none;
      max-height: 300px;
      overflow: auto;
    }

    &El {
      margin-bottom: 30px;
      position: relative;
      min-height: 60px;
      padding-left: 90px;

      &Img {
        position: absolute;
        top: 0;
        left: 0;

        img {
          width: 60px;
          height: 60px;
        }
      }

      &Name {
        color: #06c;
        text-decoration: none;

        &:hover {
          color: #fcb800;
        }
      }

      &Price {
        &:after {
          @extend .rub;
          content: "a";
        }
      }
      p {
        margin: 5px 0 0 0;
      }
    }

    &Bottom {
      padding: 10px 20px 20px;
      background-color: #ffffff;
      border: 1px solid #e1e1e1;
      //border-top: 0;
    }

    &Total {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;

      span + span {
        float: right;
        color: red;
        &:after {
          @extend .rub;
          content: "a";
        }
      }
    }

    &Btns {

    }

    &BasketBtn {
      display: inline-block;
      vertical-align: top;
      @extend .btn;
    }

    &OrderBtn {
      float: right;
      vertical-align: top;
      @extend .btn;
    }
  }

  &Search {
    float: right;
    width: 600px;
    padding: 0 90px 0 0;
    position: relative;

    &Submit {
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      color: white;
      border: none;
      font-weight: 700;
      border-radius: 0 4px 4px 0;
      //transition: all 0.4s ease;
      width: 90px;
      line-height: 16px;
      padding: 13px 13px;
      display: block;
      text-align: center;
      @extend .icon-magnifier;

      &:before {
        @extend .lineariconsEl;
        display: none;
        font-size: 14px;
        line-height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -7px;
      }

    }

    &Input {
      @extend .formControl;
      display: block;
      width: 100%;
      background-color: #fff;
      color: #000;
      height: 42px;
      line-height: 20px;
      padding: 10px 20px;
      //border-left: none;
      border-radius: 4px 0 0 4px;
      transition: none;

      &Box {
        //float: right;
        width: 100%;
        display: block;
        //width: calc(100% - 85px);
        //background: #fff;
        //overflow: hidden;

      }
    }

    &List {
      border: 1px solid #e1e1e1;
      width: 85px;
      position: relative;
      float: left;
      border-radius: 4px 0 0 4px;
      background-color: #ffffff;
      display: none;

      &Arr {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 16px;
        z-index: 10;
      }

      &Select {
        height: 40px;
        border: none;
        -webkit-appearance: none;
        font-size: 14px;
        outline: none;
        transition: all .4s ease;
        box-shadow: 0 0 0 #000;
        border-radius: 4px 0 0 4px;
        padding: 0 10px;
        width: 100%;
        display: block;
        text-indent: 10px;
        position: relative;
        z-index: 2;
        background-color: transparent;
      }
    }
  }

  &Main {
    float: right;
    width: 330px;
    text-align: right;
  }

  &Fav, &Compare, &Basket, &SearchToggle, &Personal, &NavToggle {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    & > a,
    & > i {
      font-size: 30px;
      line-height: 42px;
      color: #000;
      display: block;
    }

  }

  &FavLink, &CompareLink, &BasketLink {
    text-decoration: none !important;
    & > a,
    & > i {
      font-size: 30px;
      line-height: 42px;
      color: #000;
      display: block;
      text-decoration: none;
    }

    & > span {
      font-size: 12px !important;
      line-height: 20px !important;
    }
  }

  &Basket {
    &Link {
      display: block;
    }
  }

  &Compare {
    margin-left: 0;

    &Link {
      display: block;
    }
  }

  &Personal {
    margin-right: 0;
  }

  &NavToggle {
    margin-left: -20px;
    padding: 3px 0 3px 0;
    display: none;
  }

  &Fav, &Compare, &SearchToggle {
    span {
      position: absolute;
      bottom: 0;
      right: -6px;
      display: block;
      vertical-align: top;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: black;
      color: white;
    }
  }

  &BasketLink {
    span {
      position: absolute;
      bottom: 0;
      right: -6px;
      display: block;
      vertical-align: top;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: black;
      color: white;
    }
  }

  &SearchToggle {
    display: none;
  }

  &Personal {
    padding: 3px 0 0 40px;

    & > a,
    & > i {
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
    }

    &El {
      display: block;
      font-weight: 700;
      line-height: 18px;

      a {
        line-height: 15px;
        font-size: 12px;
        display: inline-block;
        text-decoration: none;
        transition: all 0.4s ease;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  @media all and (max-width: 1240px) {
    &Search {
      width: calc(100% - 260px - 340px)
    }
  }

  @media all and (max-width: 1130px) {

    &Main {
      width: 320px;
    }

    &Search {
      width: calc(100% - 260px - 320px)
    }
    &Fav, &Compare, &Basket, &Personal, &SearchToggle {
      margin: 0 10px;
    }

    &Fav,
    &Compare {
      margin-left: 0;
    }

    &Personal {
      margin-right: 0;
    }

  }

  @media all and (min-width: 960px) {
    .showFixedHeader & {
      height: 131px;

      .mainHeaderContent .mainHeaderInner {
        height: 36px;
      }

      &Content {
        background: #f1f1f1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        padding-top: 10px;
        padding-bottom: 10px;
      }

      &Logo {
        display: none;
      }

      &Fav, &Compare, &Basket, &SearchToggle, &Personal, &NavToggle {

        & > a,
        & > i {
          font-size: 26px;
          line-height: 36px;
        }

      }

      &FavLink, &CompareLink, &BasketLink {
        & > a,
        & > i {
          font-size: 26px;
          line-height: 36px;
        }
      }

      &Search {

        &Submit {
          padding: 10px 13px;
        }

        &Input {
          height: 36px;
          padding: 7px 20px;
        }
      }

    }
  }

  @media all and (max-width: 959px) {

    &Logo {
      margin: 6px 0 0 0;

    }

    &Logo {
      height: 54px;
      top: -7px;
      margin: 0;
      width: 115px;

      .piano & {
        top: -7px;
      }
    }

    position: sticky;
    top: -57px;
    top: -52px;

    &Top {
      max-width: 100%;
      background-color: #f4f5f5;
      padding: 15px 30px;

      &Title {
        line-height: 22px;
      }

      &Nav {
        padding: 4px 0;
        a {
          padding-left: 0;
          margin-right: 5px;
          padding-right: 5px;

          & + a {
            border-left: none;
          }
        }
      }

    }

    &NavToggle {
      display: inline-block;
      padding-top: 1px;
    }

    &Inner {
      width: 100%;
      padding: 0;
    }

    &Content {
      padding: 10px 30px;
    }
    &Content &Inner {
      height: 42px;
    }
    &Search {
      display: none;
    }
    &Main {
      width: auto;
    }
    &Fav,
    &Compare {
      display: none;
    }

    &Basket, &BasketLink, &SearchToggle, &Personal {
      & > a,
      & > i {
        font-size: 24px;
      }

      span {
        right: -9px;
      }
    }

    &BasketLink {
      & > a,
      & > i {
        font-size: 24px;
      }

      span {
        right: -9px;
      }
    }

    &SearchToggle {
      display: inline-block;
    }

    &Personal {
      padding: 3px 0 0 34px;
      margin-right: 0;

      &El {
        font-size: 14px;
      }
    }
  }

  @media all and (max-width: 640px) {
   &Logo {
     .piano & {
       width: 140px;
     }
   }
  }
  @media all and (max-width: 380px) {
    &Logo {
      .piano & {
        width: 120px;
      }
    }
  }
  @media all and (max-width: 767px) {
    &Top {
      text-align: center;

      &Nav {
        float: none;
      }

      &Title {
        display: none;
      }
    }

    & {
      top: -57px;
    }

  }

  @media all and (max-width: 767px) {
    &Fav, &Compare, &Basket, &SearchToggle, &Personal {
      margin: 0 10px;
    }

    &Personal {
      margin-right: 0;
    }

    &Top {
      &Nav {
        a {
          display: none;

          & + a + a {
            display: inline-block;
          }
        }
      }
    }
  }

  @media all and (min-width: 480px) and (max-width: 959px) {

    &Content {
      position: relative;
    }

    &Search {
      position: absolute;
      top: 61px;
      left: 0;
      right: 0;
      z-index: 190;
      float: none;
      width: auto;
      display: block;
      background: $templateColor;
      padding: 10px 60px 10px 20px;
      display: none;

      &List {
        display: none;
      }

      &InputBox {
        width: 100%;
      }

      &Submit {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 40px;
        font-size: 0;
        border-radius: 0;

        &:before {
          display: block;
        }
      }

      &.active {
        display: block;
      }
    }
  }

  @media all and (max-width: 479px) {
    top: 0;

    &Top {
      display: none;
    }

    &Content {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
      background: $templateColor;
    }

    &Basket {
      margin-right: 20px;
      margin-left: 0;
    }

    &SearchToggle {
      margin-right: 20px;
      margin-left: 0;
      //display: none;
    }

    &Personal {
      margin: 0;
      padding: 0 0 0 24px;

      &El {
        display: none;
      }
    }

    &Search {
      position: absolute;
      top: 62px;
      left: 0;
      right: 0;
      z-index: 190;
      float: none;
      width: auto;
      display: block;
      background: $templateColor;
      padding: 10px 60px 10px 20px;
      display: none;

      &.active {
        display: block;
      }

      &List {
        display: none;
      }

      &InputBox {
        width: 100%;
      }

      &Submit {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 40px;
        font-size: 0;
        border-radius: 0;

        &:before {
          display: block;
        }
      }
    }
  }

  @media all and (max-width: 360px) {
    &Logo {
      margin-left: 0px;
    }
    &Basket {
      margin-right: 15px;
    }
    &Main {
      margin-right: -20px;
    }
    &SearchToggle {
      margin-right: 15px;
    }

  }

}

body {
  @media all and (max-width: 479px) {
    padding-top: 62px;
  }
}

body .multi-theme-compact .multi-layout {
  margin: 0 15px;
}

@media all and (min-width: 686px) {

  body .multi-theme-compact .multi-wrapper {
    margin: 117px auto 20px auto;
  }

  body.noTopBanner .multi-theme-compact .multi-wrapper {
    margin: 39px auto 20px auto;
  }

  body.showFixedHeader .multi-theme-compact .multi-wrapper,
  body.showFixedHeader.noTopBanner .multi-theme-compact .multi-wrapper {
    margin: 0px auto 20px auto;
  }
}


@media all and (min-width: 686px) and  (max-width: 1199px) {
  body .multi-theme-compact .multi-wrapper,
  body.noTopBanner .multi-theme-compact .multi-wrapper {
    margin: 39px auto 20px auto;
  }
}

@media all and (max-width: 959px) {
  body .multi-theme-compact .multi-layout {
    margin: 0 10px;
  }
}
@media all and (max-width: 685px) {
  body .multi-theme-compact .multi-layout {
    margin: 0px;
  }
}