.mainNav {
  &Inner {
    @extend .globalBox;
  }
  @media all and (min-width: 960px) {
    background: $yellowColor;
    height: 44px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    &Overlay {
      display: none;
    }
    &Inner {
      font-size: 0;
      line-height: 0;
      word-spacing: 0;
      letter-spacing: 0;
      width: auto !important;
      max-width: 1230px !important;

      & > * {
        font: $mainFont;
        word-spacing: normal;
        letter-spacing: normal;
      }
    }

    &Main {
      display: inline-block;
      vertical-align: top;
      width: 260px;
      position: relative;
      border-bottom: solid 5px transparent;

      &:hover &Title:before {
        transform-origin: 0 50%;
        transform: scale3d(1, 1, 1);
      }
      &List {
        position: absolute;
        left: 0;
        opacity: 0;
        display: block;
        background-color: #fff;
        border: 1px solid #d3d3d3;
        top: 44px;
        z-index: 1000;
        min-width: 100%;
        //padding-top: 2px;
        visibility: hidden;
        transition: all .3s ease;
        transform: scale3d(1, 1, 0) translateY(30px);
        white-space: nowrap;
        &Col {
          padding: 10px 15px;
          display: inline-block;
          width: 180px;
          vertical-align: top;
          white-space: normal;

          h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #000;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {

            }

            a {
              display: block;
              color: #000;
              line-height: 20px;
              padding: 5px 0;
              font-size: 14px;
              transition: all 0.4s ease;
              background-color: transparent;

              &:hover {
                color: #fcb800;
                text-decoration: none;
              }
            }
          }
        }


        /*   &Sub {
             visibility: hidden;
             opacity: 0;
             position: absolute;
             background: #fff;
             top: 100%;
             left: 0;
             min-width: 240px;
             z-index: 1000;
             transition: all 0.4s ease;
             background-color: #fff;
             border: 1px solid #ccc;
             display: flex;
             flex-flow: row nowrap;
             justify-content: space-between;
             padding: 15px 30px 10px;


           }

           &:hover &Sub {
             visibility: visible;
             opacity: 1;
           }*/

      }

      &:hover &List {
        visibility: visible;
        opacity: 1;
        transform: scale3d(1, 1, 1) translateY(0);
      }
      &Title {
        display: block;
        position: relative;
        padding: 11px 0 11px 40px;
        cursor: default;

        i {
          position: absolute;
          top: 50%;
          left: 0;
          margin: -15px 0 0 0;
          font-size: 30px;
          display: block;
        }

        span {
          color: #000;
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #000;
          -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          transition: -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
        }
      }

      &El {
        display: block;
        position: relative;

        &Toggle {
          display: none;
        }

        &:hover &Title {
          background-color: #fcb800;
        }

        &Title {
          transition: all .4s ease;
          display: block;
          padding: 6px 20px 6px 48px;
          color: #000;
          position: relative;
          text-decoration: none;

          &:hover {
            text-decoration: none !important;
          }

          i {
            font-size: 16px;
            position: absolute;
            left: 20px;
            top: 50%;
            margin: -9px 0 0 0;
            line-height: 18px;
          }
        }

        &Sub {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          background: #fff;
          width: 260px;
          transition: all 0.4s ease;
          border: 1px solid #ccc;
          padding: 15px 15px 15px 15px;

          h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #000;
            display: none;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {

            }

            a {
              display: block;
              color: #000;
              line-height: 20px;
              padding: 5px;
              font-size: 14px;
              transition: all 0.4s ease;
              background-color: transparent;
              white-space: normal;

              &:hover {
                color: #fff;
                background-color: #fcb800;
                text-decoration: none;
              }
            }
          }
        }

        &:hover &Sub {
          display: block;
        }

      }
    }

    &Phone {
      display: inline-block;
      vertical-align: top;
      width: 260px;
      margin-bottom: 0;
      font-size: 14px;
      color: #000;
      height: 20px;
      padding: 11px 0;
      text-align: right;
      white-space: nowrap !important;
      text-decoration: none !important;

      & * {
        white-space: nowrap !important;
      }

      i {
        margin: 0 10px 0 0;
      }

      b {
        font-weight: 600;
        color: #000;
      }
    }

    &Other {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 260px - 260px);
      padding: 0 0 0 10px;
      display: inline-block;
      vertical-align: top;

      @media (max-width: 1130px) {
        padding: 0;
      }

      &El {
        display: inline-block;
        vertical-align: top;
        position: relative;

        &Toggle {
          display: none;
        }

        &:first-child &Title {
          padding-left: 0;
        }

        &:hover &Title:after {
          transform: translateY(-50%) rotate(-180deg);
        }

        &Title {
          padding: 11px 25px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #000;
          position: relative;
          display: block;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          &:after {
            content: "\e93a";
            font: normal normal normal 12px/1 linearicons;
            position: absolute;
            top: 50%;
            transition: all 0.4s ease;
            transform: translateY(-50%);
            right: 0;
          }

          &:before {
            content: '';
            width: 13px;
            height: 13px;
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 10000;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            transform: rotate(45deg) translate(-50%, -50%);
            transform-origin: 0 0;
            visibility: hidden;
            opacity: 0;
          }


        }

        &.noSub &Title{
          padding: 11px 11px;

          &:after,
          &:before {
            display: none !important;
          }
        }

        &:hover &Title:before {
          visibility: visible;
          opacity: 1;
        }

        &Sub {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          background: #fff;
          top: 100%;
          left: 0;
          min-width: 240px;
          z-index: 1000;
          transition: all 0.4s ease;
          background-color: #fff;
          border: 1px solid #ccc;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          padding: 15px 30px 10px;

          &Col {
            padding: 10px 15px;
            display: inline-block;
            width: 180px;
            vertical-align: top;

            h4 {
              margin: 0 0 10px 0;
              font-size: 16px;
              line-height: 20px;
              font-weight: 600;
              color: #000;
            }

            ul {
              display: block;
              margin: 0;
              padding: 0;
              list-style: none;

              li {

              }

              a {
                display: block;
                color: #000;
                line-height: 20px;
                padding: 5px 0;
                font-size: 14px;
                transition: all 0.4s ease;
                background-color: transparent;

                &:hover {
                  color: #fcb800;
                  text-decoration: none;
                }
              }
            }
          }
        }

        &:hover &Sub {
          visibility: visible;
          opacity: 1;
        }
      }

    }

    &Close {
      display: none;
    }
  }

  @media all and (max-width: 1130px) and (min-width: 960px) {
    &Phone {
      padding: 0px 0 0 20px;
      position: relative;
      height: 44px;
      line-height: 22px;
      width: 140px;
      white-space: nowrap !important;

      & * {
        white-space: nowrap !important;
      }

      i {
        position: absolute;
        top: 15px;
        left: 0;
      }
      b {
        display: block;
      }
    }

    &Other {
      width: calc(100% - 260px - 140px);

      &ElSub{
        padding-left: 5px;
        padding-right: 5px;
      }
      &ElSubCol{
        width: 130px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  @media all and (min-width: 960px) {
    .showFixedHeader & {
      z-index: 600;

      &Main {
        background: #f1f1f1;
        position: fixed;
        top: 0;
        z-index: 600;
        left: 50%;
        margin: 0 0 0 calc(-50% + 10px);
        &Title {
          padding: 16px 0 15px 40px;
        }
        &List {
          top: 56px;
        }
      }

    }
  }

  @media all and (min-width: 1220px) {
    .showFixedHeader & {
      &Main {
        margin: 0 0 0 -600px;
      }
    }
  }

  @media all and (max-width: 959px) {
    transition: all 0.4s ease;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: -100%;
    bottom: 0;
    overflow: auto;
    width: 400px;
    background: #fff;

    &Close {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;
      cursor: pointer;
      display: none;
      background-color: #f4f5f5;
      z-index: 20;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 1px;
        transform: translateX(-50%) rotate(-45deg);
        background-color: #000;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 1px;
        transform: translateX(-50%) rotate(45deg);
        background-color: #000;
      }
    }

    &Inner {
      width: 100% !important;
      padding: 0 !important;
    }

    &Overlay {
      display: none;
      z-index: 2990;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.75);
    }

    &Main {
      &Title {
        display: block;
        position: relative;
        padding: 15px 0 15px 60px;
        cursor: pointer;

        i {
          position: absolute;
          top: 50%;
          left: 20px;
          margin: -15px 0 0 0;
          font-size: 30px;
          display: block;
        }

        span {
          color: #000;
          font-size: 16px;
          line-height: 20px;
          font-weight: 600;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #000;
          -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          transition: -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          transition: transform 0.75s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.75s cubic-bezier(0.7, 0, 0.3, 1);
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
        }
      }
    }

    &Main {
      display: block;
      width: 100%;

      &List {

        &Col {
          padding: 10px 20px;
          display: block;
          vertical-align: top;
          white-space: normal;

          h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #000;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {

            }

            a {
              display: block;
              color: #000;
              line-height: 20px;
              padding: 5px 0;
              font-size: 14px;
              transition: all 0.4s ease;
              background-color: transparent;

              &:hover {
                color: #fcb800;
                text-decoration: none;
              }
            }
          }
        }

      }

      &El {
        position: relative;
        z-index: 10;
        display: block;
        line-height: 20px;
        font-size: 15px;
        border-bottom: 1px solid #dedede;

        &Title {
          transition: all .4s ease;
          display: block;
          padding: 15px 20px 15px 45px;
          color: #000;
          position: relative;
          text-decoration: none;

          &:hover {
            text-decoration: none !important;
          }

          i {
            font-size: 18px;
            position: absolute;
            left: 20px;
            top: 50%;
            margin: -9px 0 0 0;
            line-height: 18px;
          }
        }

        &.open &Sub {
          display: block;
        }

        &Sub {
          display: block;
          background: #fff;
          transition: all 0.4s ease;
          padding: 0px 10px 20px 20px !important;

          h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #000;
            display: none;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {

            }

            a {
              display: block;
              color: #000;
              line-height: 20px;
              padding: 5px 0;
              font-size: 14px;
              transition: all 0.4s ease;
              background-color: transparent;

              &:hover {
                color: #fcb800;
                text-decoration: none;
              }
            }
          }
        }

      }
    }
    &Main, &Other {
      &El {
        position: relative;
        z-index: 10;
        display: block;
        line-height: 20px;
        font-size: 15px;
        border-bottom: 1px solid #dedede;

        &.noSub &Toggle{
          display: none !important;
        }

        &Toggle {
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 50px;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 1px;
            transform: translateX(-50%);
            background-color: #000;
          }

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            height: 1px;
            transform: translateX(-50%) rotate(90deg);
            background-color: #000;
          }
        }

        &.open &Toggle {
          &:after {
            display: none;
          }
        }

        &Title {
          transition: all .4s ease;
          display: block;
          padding: 15px 20px 15px 45px;
          color: #000;
          position: relative;
          text-decoration: none;

          &:hover {
            text-decoration: none !important;
          }

          i {
            font-size: 18px;
            position: absolute;
            left: 20px;
            top: 50%;
            margin: -9px 0 0 0;
            line-height: 18px;
          }
        }

        &.open &Sub {
          display: block;
        }

        &Sub {
          display: none;
          background: #fff;
          transition: all 0.4s ease;
          padding: 20px 10px 20px 20px;

          h4 {
            margin: 0 0 10px 0;
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #000;
          }

          &Col {
            padding-top: 20px;
          }

          ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;

            li {

            }

            a {
              display: block;
              color: #000;
              line-height: 20px;
              padding: 5px 0;
              font-size: 14px;
              transition: all 0.4s ease;
              background-color: transparent;

              &:hover {
                color: #fcb800;
                text-decoration: none;
              }
            }
          }
        }

      }
    }

    &Other {
      margin: 0px 0 20px 0;
      display: block;
      width: 100%;
      //border-top: 1px solid #dedede;

      &El {
        &Sub {
          padding-top: 0;
        }
        &Title {
          transition: all .4s ease;
          display: block;
          padding: 15px 20px 15px 20px;
          color: #000;
          position: relative;
          text-decoration: none;

          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }

    & &Phone {
      display: block;
      vertical-align: top;
      margin-bottom: 20px;
      font-size: 16px;
      color: #000;
      height: 20px;
      padding: 15px 20px;
      text-align: left;
      white-space: nowrap !important;

      & * {
        white-space: nowrap !important;
      }

      i {
        margin: 0 10px 0 0;
      }

      b {
        font-weight: 600;
        color: #000;
      }
    }
    .showNav & {
      left: 0;

      &Overlay {
        display: block;
      }

      &Close {
        display: block;
      }
    }
  }

  @media all and (max-width: 767px) {
    width: 100%;
  }
}

@media all and (max-width: 959px) {
  body.showNav {
    overflow: hidden;
  }
}