.reviews {
  &Title {
    margin-bottom: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.15;
    font-family: $titleFont;
    color: #0B0B0B;

    @media all and (max-width: 959px) {
      font-size: 24px;
    }
    @media all and (max-width: 959px) {
      font-size: 20px;
    }
  }

  .repairPage & {
    //display: flex;
    position: relative;
    align-items: normal;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;

    &List {
      display: inline-block;
      vertical-align: top;
      width: 60%;
      padding-right: 40px;
      font:$mainFont;
      word-spacing: normal;
      letter-spacing: normal;
    }

    &Form {
      display: inline-block;
      vertical-align: top;
      width: 40%;
      position: sticky;
      top: 45px;
      font:$mainFont;
      word-spacing: normal;
      letter-spacing: normal;
    }


    @media all and (max-width: 959px) {
      display: block;
      &List {
        display: block;
        vertical-align: top;
        width: 100%;
        padding-right: 0px;
      }

      &Form {
        display: block;
        vertical-align: top;
        width: 100%;
        position: relative;
        top: auto;
      }

    }

  }

  &List {
    max-width: 770px;
    margin: 0 auto;
  }

  .fullWidth &List{
    max-width: 100%;
  }
  .repairPage &El:first-child &ElContent {
    border: none;
  }
  &El {
    position: relative;
    padding: 0 0 0 100px;
    min-height: 70px;

    .cardRatingCurrentStarVal {
      float: right;

      @media all and (max-width: 959px) {
        display: block;
        float: none;
        margin: 10px 0 0 0;
      }
    }

    &.noImg {
      padding: 0;
      min-height: 0;
    }

    &.level2 {
      margin-left: 100px;
    }

    &Img {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;

      img {
        width: 100%;
      }
    }

    &Content {
      padding: 15px 0 30px 0px;
      border-top: 1px solid #e1e1e1;

    }


    &Header {
      margin-bottom: 16px;
    }

    &Name {
      display: inline-block;
      font-weight: 600;
      color: #333333;
      font-size: 14px;
    }

    &Date {
      display: inline-block;
      font-size: 12px;
      color: #666666;

      &:before {
        content: '-';
        margin: 0 10px;
      }
    }

    &Text {
      margin-bottom: 10px;
      font-size: 1.4rem;
      line-height: 1.6em;
      color: #666;
    }

    &Answer {
      font-style: normal;
      color: #09c;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;

      &Btn {
        display: inline-block;
        padding: 10px 10px;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        color: #000;
        border: none;
        border-radius: 4px;
        background-color: #fcb800;
        transition: all .4s ease;
        cursor: pointer;
        text-align: center;

        &:hover {
          background-color: #222;
          color: #fff;
        }
      }
    }
  }

  &Form {
    padding-top: 20px;

    &Title {
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2em;
      text-transform: uppercase;
    }

    &Text {
      font-size: 1.4rem;
      line-height: 1.6em;
      color: #666;
      margin: 0 0 10px 0;
    }

    &Rating {
      margin-bottom: 2.5rem;
      display: inline-block;

      input {
        display: none;
      }

      i {
        display: inline-block;
        vertical-align: top;
        margin: 0 2px 0 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background-image: url("img/star-on.svg");
        background-size: cover;
        background-repeat: no-repeat;

        &.hoverActive {
          background-image: url("img/star-on.svg");
        }
        &[data-val="0"], &.off {
          background-image: url("img/star-off.svg");
        }
      }
    }

  }
  
  @media all and (max-width: 767px) {
    &El {
      padding: 0 0 0 90px;

      &.level2 {
        margin-left: 90px;
      }

      &Content {
        padding-left: 0px;
      }
    }
  }

  @media all and (max-width: 479px) {
    &El {
      padding: 0 0 0 0px;
      &Img {
        position: relative;
        top: auto;
        left: auto;
        width: 70px;
        display: block;

        img {
          width: 100%;
        }
      }
      &.level2 {
        margin-left: 30px;
      }


    }
  }
}