.pageHeader {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px auto;
  display: flex;

  &[data-column] {
    flex-direction: column;
    padding: 0 15px 20px 15px;

    @media (max-width: 1023px) {
      padding: 0 10px 15px 10px;
    }
  }

  @media all and (max-width: 1023px) {
    padding-left: 10px;
    display: block;
    padding-right: 10px;
  }
  &Inner {
    //width: 66.6666%;
    width: calc(100% - 341px);
    padding-right: 20px;

    @media all and (max-width: 1023px) {
      width: 100%;
    }
  }

  &Course {
    width: 33.3334%;
    width: 341px;

    @media all and (max-width: 1023px) {
      width: 100%;
      margin: 20px 0 0 0;
      display: flex;
      align-items: center;

      .mainPrice {
        width: 400px;
        padding: 0 20px 0 0;
      }

      .mainBuy {
        display: block;
        width: 50%;
        margin: 0 20px 0 0;
      }

      .mainGift {
        width: 50%;
        margin: 0;
      }
    }

    @media all and (max-width: 480px) {
      display: block;

      .mainPrice {
        width: 100%;
        padding: 0;
      }

      .mainBuy {
        width: 100%;
        margin: 20px 0 0 0;
      }

      .mainGift {
        width: 100%;
        margin: 20px 0 0 0;
      }
    }
  }
}

.course {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 13, 22, 0.97)) !important;
  color: #fff;
  padding: 50px 0 50px 0;
  overflow: hidden;
  width: 100%;
  margin: -25px 0 40px 0;


  .functionalBox + &,
  .wrapContent + & {
    margin:20px 0 0px 0;
  }

  & + .wrapContent {
    margin-top: 0;
  }

  @media all and (max-width: 1019px) {
    padding-bottom: 0;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    padding-top: 0px;
  }
  @media all and (max-width: 767px) {
    margin-bottom: 20px;
  }

  .pageHeader {
    color: #fff;
  }

  &Content {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media all and (max-width: 1023px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &Slider {
    max-width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 20px auto 20px auto;
    position: relative;
    overflow: auto;


    .slick-arrow {
      width: 15px;
      height: 15px;
      border: solid 2px #fff;
      border-width: 0 2px 2px 0;
      position: absolute;
      content: "";
      font-size: 0;
      line-height: 0;
      background: none;
      top: 50%;
      transform: rotate(135deg);
      transform-origin: center;
      margin-top: -3px;
      position: absolute;
      left: 15px;

      &.slick-next {
        left: auto;
        right: 15px;
        transform: rotate(-45deg);

      }
    }



    .slick-dots {
      display: none !important;
    }

    &List {
      //display: flex;
      //align-items: center;
      //flex-wrap: nowrap;
      //overflow-x: auto;
      //white-space: nowrap;
      padding: 0 30px;
      //scroll-snap-type: x mandatory;
    }

    .slick-track {
      display: flex;
      align-items: stretch;
    }

    &El {
      width: 200px;
      overflow: hidden;
      outline: none;
      display: inline-flex !important;
      overflow: hidden;
      //display: block !important;
      float: none !important;
      height: auto !important;
      //padding: 10px ;
      margin: 0 10px;
      position: relative;
      border-radius: 8px;
      //scroll-snap-align: start;
      align-items: stretch;
      justify-content: center;

      &:after {
      content: "";
        display: block;
        padding: 56.25%  0 0 0;
        font-size: 0;
        line-height: 0;
    }

      img {
        max-width: 100%;
        display: block;
        height: auto !important;
        //object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

    }

  }

  &Header {
    margin: 0 0 18px 0;

    &Title {
      font-size: 26px;
      font-weight: 700;
      padding: 0 0 8px 0;
      line-height: 32px;
    }

    &Info {
      color: #dcdee1;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-decoration: none;
    }
  }

  &Box {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;

    @media all and (max-width: 1019px) {
      display: block;
      border-radius: 10px 10px 0 0;
    }

    &Content {
      width: calc(100% - 341px);
      height: 550px;

      @media all and (max-width: 1019px) {
        height: 450px;
        width: 100%;
      }

      &.wide {
        width: 100% !important;
        height: 788px !important;

        @media all and (max-width: 1440px) {
          height: calc((100vw - 40px) / 100 * 56.25) !important;
        }
        @media all and (max-width: 1023px) {
          height: calc((100vw) / 100 * 56.25) !important;
        }
      }
    }

    &Sidebar {
      width: 341px;
      height: 550px;
      position: relative;

      @media all and (max-width: 1019px) {
        height: auto;
        width: 100%;
        display: block;
      }

      &Active {
        background-color: #266fef;
        height: 65px;
        position: relative;
        padding: 10px 10px 10px 80px;

        &Title {
          line-height: 19px;
          color: #ffffff;
          font-size: 15px;
          font-weight: 500;
          max-height: 37px;
          display: block;
        }

        &:before {
          content: '';
          width: 1px;
          height: 37px;
          background-color: rgba(255, 255, 255, 0.2);
          position: absolute;
          top: 14px;
          left: 65px;
        }

        &Control {
          position: absolute;
          width: 65px;
          height: 65px;
          top: 0;
          left: 0;
          content: "";
          background-image: inline("playFilled.svg");
          background-size: 45px 45px;
          background-position: center;
          background-repeat: no-repeat;
        }

        &Time {
          position: absolute;
          bottom: 0;
          right: 6px;
          font-size: 10px;
          font-style: italic;
          color: #ffffff;
          line-height: 17px;
        }
        &:after {
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGBAMAAADwPukCAAAAElBMVEUAAAAAAAAAAAAAAAAAAAAAAADgKxmiAAAABnRSTlM9KRgMBADiSB2HAAAAFElEQVR4XmNgYBBgUGAwYHBgCAAAA3wA8fpXm6EAAAAASUVORK5CYII=) repeat-x;
          width: 100%;
          height: 6px;
          position: absolute;
          bottom: -6px;
          content: "";
          left: 0;
          right: 0;
        }
      }

      &Title {
        font-size: 15px;
        line-height: 20px;
        color: #dcdee1;
        padding: 10px 0 9px 61px;
        position: absolute;
        top: 0;
        left: 0;

      }
    }

    &List {
      padding: 0;
      position: absolute;
      top: 65px;
      right: 0;
      background-color: #222;
      left: 0;
      bottom: 0;
      overflow-y: auto;
      color: #fff;

      @media all and (max-width: 1019px) {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        overflow: visible;
        display: block;
      }

    }

    &El {
      cursor: pointer;
      align-items: center;
      min-height: 60px;
      color: #dcdee1;
      font-size: 15px;
      line-height: 20px;
      position: relative;
      padding: 10px 10px 10px 103px;

      &Control {
        width: 32px;
        padding: 0 8px 0 0;
        height: 24px;
      }

      &Img {
        position: absolute;
        top: 10px;
        width: 72px;
        height: 40px;
        overflow: hidden;
        left: 16px;
        display: block;
      }

      &Title {
        overflow: hidden;
        font-size: 13px;
        text-overflow: ellipsis;
        font-weight: 400;
        line-height: 15px;
        display: block;
        //max-height: 30px;
      }

      &Duration {
        font-size: 10px;
        font-style: italic;
        color: #777777;
        display: block;
        line-height: 13px;
      }

      & {
        .ss-svg-icon use,
        .ss-svg-icon path {
          fill: #dcdee1;
          color: #dcdee1;
        }
      }

      &:hover {
        background-color: #333333;
      }

      &.active {
        background-color: #404040;
        border-color: transparent !important;
        color: #fff;

        &:before {
          position: absolute;
          background: #266fef;
          width: 3px;
          content: "";
          left: 0;
          top: 0;
          bottom: 0;
        }

        &:hover {
          background-color: #404040;
          cursor: default;
        }
        .ss-svg-icon use,
        .ss-svg-icon path {
          fill: #fff;
          color: #fff;
        }
      }

      &:hover {
        .ss-svg-icon use,
        .ss-svg-icon path {
          fill: #fff;
          color: #fff;
        }
      }

    }

    &Video {
      background-color: #000;
      //padding-top: 56.25%;
      height: 100%;
      width: 100%;
      position: relative;
      &Module {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        video, iframe {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
        }
      }
    }

    &Closed {
      color: #fff;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      text-align: center;
      z-index: 1;
      background-color: rgba(0, 0, 0, .85);
      overflow: hidden;
      &Inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
      }

      &Title {
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;
      }

      &Text {
        width: 300px;
        margin: 8px auto 0px;
        color: #dcdee1;
        padding-top: 7px;
      }

      &Btn {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        line-height: 20px;
        color: #000;
        border: none;
        font-weight: 600;
        border-radius: 4px;
        background-color: #fcb800;
        transition: all .4s ease;
        cursor: pointer;
      }
    }
    &Views {
      margin: 12px 0 0 0;
      font-size: 13px;
      display: block;
      width: 100%;
      color: #dcdee1;
      &Counter {
        color: #00ff84;
      }
    }
  }

  &Info {
    &Header {
      background-color: #f4f4f4;
      border-bottom: 1px solid #dcdee1;

      &Inner {
        @extend .globalBox;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &Tabs {
      padding-top: 24px;
      display: block;
      overflow: hidden;

      a {
        font-weight: 700;
        z-index: 2;
        line-height: 20px;
        border-bottom: 4px solid transparent;
        color: #002333;
        text-decoration: none;
        display: block;
        float: left;
        padding-bottom: 21px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 8px;

        &.active {
          color: #3722d3 !important;
          border-bottom-color: #3722d3 !important;
        }

      }
    }

    &Options {
      display: block;

      &Btn {
        display: inline-flex;
        vertical-align: top;
        align-items: center;
        font-size: 15px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid rgb(0, 35, 51);
        color: rgb(0, 35, 51);
        text-decoration: none;
        padding: 5px 20px;
        font-weight: 700;
        border-radius: 2px;
        line-height: 16px;
        & + & {
          margin-left: 20px;
        }

        svg {
          width: 16px;
          height: 16px;
          display: inline-block;
          position: relative;
          margin-right: 3px;
        }
        svg, path {
          fill: rgb(0, 35, 51);
          stroke: rgb(0, 35, 51);
        }

        &:hover, &.active {
          color: #fff;
          background-color: rgb(0, 35, 51);
          svg, path {
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }

    &Content {
      @extend .globalBox;
      max-width: 1000px;
    }
  }

  &About {
    display: flex;
    align-items: stretch;
    padding: 20px 0 0 0;

    &Content {
      width: calc(100% - 314px);

      h2 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 18px 0;
        line-height: 28px;
      }

      p {
        margin: 0 0 15px 0;
      }
    }

    &Sidebar {
      width: 314px;
      padding: 0 0 0 24px;

    }
  }

  &Details {
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 0 0 28px 0;
    justify-content: space-around;

    &Author {
      padding: 30px 0;
      border-top: 1px solid #dcdee1;
    }

    &Level {

      &Icon {
        height: 32px;
        line-height: 32px;

        i {
          background-color: #ffe03d;
          height: 12px;
          width: 5px;
          display: inline-block;
          vertical-align: bottom;
          margin: 0 2px;
          border-radius: 2px;

          & + i {
            height: 19px;

            & + i {
              height: 26px;
            }
          }
        }
      }

      &Title {
        font-size: 15px;
        padding: 11px 0 0 0;
        line-height: 20px;
      }
    }

    &Students {

      &Counter {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
      }

      &Title {
        font-size: 15px;
        padding: 11px 0 0 0;
        line-height: 20px;
      }
    }

    &Projects {

      &Counter {
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
      }

      &Title {
        font-size: 15px;
        padding: 11px 0 0 0;
        line-height: 20px;
      }
    }
  }
}

.ss-svg-icon {
  width: 24px;
  height: 24px;
}


