input,
textarea {
  font-family: $mainFont;
}

html {
  margin: 0;
  padding: 0;

  /*&.showNav,
  &.showFilter {
    overflow: hidden !important;
    height: 100%;
  }*/
}

body {
  margin: 0;
  padding: 0;

  /*&.showNav,
  &.showFilter {
    overflow: hidden !important;
    height: 100%;
  }*/
  //-webkit-font-smoothing: subpixel-antialiased !important;
}

.overflowHidden {
  overflow: hidden !important;
}

.globalBox {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: 1240px) {
    & {
      max-width: 1230px;
      width: 100%;
    }
  }

}

html {
  padding: 0;
  margin: 0;
  min-width: 316px;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  min-width: 316px;
  position: relative;
  font: $mainFont;
}

body {
  background-color: #1a1a1a;
  color: #eee;
}

.hidden {
  display: none !important;
}

.error,
.errortext,
.errorText {
  color: #f93b22;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $mainColor;

  &:hover {
    text-decoration: underline;
    color: $mainColor;
  }

  &:active {
    text-decoration: none;
    color: $mainColor;
  }

  .wrapContent & {
    color: #fff;

    &:hover {
      color: #fff;
    }

    &:active {
      color: #fff;
    }
  }
}

.clearFix {
  clear: both;
  float: none;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.w100 {
  width: 100%;
}

.fw500 {
  font-weight: 500;
}

.fn {
  float: none;
}

.animateAll {
  transition: all 0.5s;
}

.colorRed {
  color: red;
}

.dib {
  display: inline-block;
}

.mb-30 {
  margin-bottom: 30px;
}