.functionalBox {
  max-width: 1640px;
  padding: 0;
  margin: 0 auto;
  @extend .zeroBox;
  display: flex;
  align-items: stretch;

  @media all and (max-width: 1023px) {
    padding: 0 10px;
  }
  @media all and (max-width: 959px) {
    display: block;
    padding: 0;
  }

  &El {
    margin: 20px 15px;
    padding: 20px;
    background: #f2f2f2;
    background: $greyColor2;
    @extend .zeroBoxInner;
    border-radius: 10px;
    width: calc(33.3333% - 30px);

    .indexMainContent & {
      width: auto !important;
      margin: 0 0 15px 0 !important;
    }

    @media all and (max-width: 1100px) {
      width: calc(33.3333% - 10px);
      margin: 15px 5px;
      padding: 10px;
    }

    @media all and (max-width: 959px) {
      width: auto;
      display: block;
      padding: 20px 10px;
      border: none;
      margin: 15px 10px;
    }

    @media all and (max-width: 767px) {
      margin: 15px 10px;
    }

    &Title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 900;
      margin-bottom: 16px;
      color: #4c4084;
    }

    p {
      color: #000000;
      font-size: 14px;
      line-height: 1;
      font-style: italic;
      margin-bottom: 21px;
    }
  }
}

.formSubscribe {
  display: flex;

  input {
    font-size: 14px;
    line-height: 1;
    border: 1px solid #e1e1e1;
    max-width: 100%;
    padding: 3px 12px;
    min-height: 42px;
    height: auto;
    color: #000000;
    width: calc(100% - 100px);
    background-color: #ffffff;
  }
  button {
    background-color: #4c4084;
    font-size: 14px;
    min-height: 42px;
    line-height: 1;
    padding: 3px 0;
    color: #fff;
    border: none;
    display: block;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100px;
  }
}

.socialInfo {
  margin: 0 -8px;
  overflow: hidden;

  &El {
    width: calc(33.3333% - 16px);
    margin: 0 8px;
    float: left;
    height: 100px;
    color: #fff;
    text-align: center;

    &Icon {
      height: 32px;
      margin-top: 10px;

      i {
        width: 24px;
        display: block;
        height: 24px;
        margin: 4px auto 0 auto;
      }
    }

    &Counter {
      font-size: 17px;
      line-height: 21px;
      font-weight: 700;
    }

    &Title {
      font-size: 13px;
      font-weight: normal;
      line-height: 21px;
    }

    &[data-fb] {
      background-color: #516eab;
    }
    &[data-tw] {
      background-color: #29c5f6;
    }
    &[data-yb] {
      background-color: #e14e42;
    }

    &:hover {
      background-color: #222;
    }
  }
}

.audioEl {
  display: block;
  overflow: hidden;

  &Content {
    width: 80%;
    float: left;

    @media all and (max-width: 380px) {
      width: 100%;
    }

  }

  &Name {
    font-size: 15px;
    line-height: 1.1;
    font-weight: 700;
    margin: 0 0 6px 0;
    a {
      color: #000;
      text-decoration: none;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }

  &Info {
    font-size: 13px;
    line-height: 1;
    font-style: italic;
    font-weight: 400;

    a {
      text-decoration: none;
    }
  }

  &Media {
    margin: 5px 0 0 0;

    audio {
      height: 45px;
      width: 100%;
    }

  }

  &Img {
    width: 20%;
    float: right;
    overflow: hidden;
    position: relative;
    border-radius: 50%;

    @media all and (max-width: 380px) {
      display: none;
    }

    &:after {
      padding: 100% 0 0 0;
      display: block;
      content: "";
    }

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
