// global css
//$mainFont: 300 14px/1.42857 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",sans-serif;
//$mainFont: 400 14px/1.4 'Ubuntu', sans-serif, sans-serif;
$mainFont: 500 14px/1.4 "Gilroy", "Open Sans", sans-serif;
//$mainFont: 400 14px/1.4 "Montserrat", "Open Sans", sans-serif;
//$titleFont: 'Ubuntu Mono', 'Ubuntu', sans-serif, sans-serif !important;

//$titleFont: 'Ubuntu', sans-serif, sans-serif !important;
$titleFont: "Gilroy", "Open Sans", sans-serif;
$mainColor: #212529;
$mainBgColor: #fff;
$maxContentWidth: 1230px;
$minContentWidth: 320px;
$templateColor: #fcb800;
$templateSecondColor: #000;
$redColor: #f14705;
$yellowColor: #febe2b;
$yellow: #febe2b;
$blackColor: #f14705;
$blueColor: #266fef;
$greyColor1: #a6a6a6;
$greyColor2: #bfc0c2;
$greyColor3: #aaa;
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 200 / 100), only screen and (min-device-pixel-ratio: 1.5) {
  .dpiTest {
    width: 20px;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  line-height: 1.5;
  color: #212529;
}

* {
  outline: none;
}

.wrapPage {
  margin: 0 auto;
}

* {
  word-wrap: break-word;
}

.clearFix {
  clear: both;
}

.showOnM {
  display: none;

  @media all and (max-width: 767px) {
    display: block;
  }
}

.showOnTD {
  display: none;

  @media all and (min-width: 768px) {
    display: block;
  }
}

.defP {
  font-size: 1.4rem;
  line-height: 1.6em;
  color: #666;
}

.defWidth {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1220px;
}

body {
  word-spacing: .5px;
  font-feature-settings: "liga";
  font-style: normal;
  text-rendering: optimizelegibility;
  overflow-x: hidden;
}

.pageTitle {
  line-height: 1.1;
  font-size: 41px;
  margin: 0;
  padding: 0;
  font-weight: 600;

  &.v2 {
    font-size: 33px;
    letter-spacing: -1px;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #0a0a0a;
    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      content: "";
      margin: 3px 0 0 0;
      border: 1px dotted #0a0a0a;
      border-width: 1px 0;
      height: 3px;
    }

  }

  @media all and (max-width: 767px) {
    font-size: 28px;
    &.v2 {
      font-size: 24px;
    }
  }

}

.pageInfo {
  margin: 15px 0 0 0;
  font-size: 13px;
  line-height: 20px;
  font-style: italic;
  font-weight: 400;
  color: #444;

  .course & {
    color: #fff;
  }

  &Author {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

    a {
      color: #444;
      font-weight: 600;
      .course & {
        color: #fff;
      }

    }
  }

  &Date {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  &Comments {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    padding: 0 0 0 20px;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      margin: -10px 0 0 0;
      left: 0;
      width: 15px;
      height: 20px;
      content: "";
      background-image: inline("comment.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      .course & {
        background-image: inline("comment_white.svg");
      }
    }
  }

  &Views {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 20px;
    margin-right: 10px;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      margin: -10px 0 0 0;
      left: 0;
      width: 15px;
      height: 20px;
      content: "";
      background-image: inline("view.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      .course & {
        background-image: inline("view_white.svg");
      }
    }
  }


  &Learn {
    vertical-align: top;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 0 10px 0 0;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 15px;
      height: 16px;
      left: 0;
      top: 50%;
      margin: -8px 0 0 0;
      background-image: inline("college-graduation_white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &Buyed {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 20px;
    margin-right: 10px;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      margin: -10px 0 0 0;
      left: 0;
      width: 15px;
      height: 20px;
      content: "";
      background-image: inline("buy.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      .course & {
        background-image: inline("buy_white.svg");
      }
    }
  }
}

.videoBox {
  position: relative;
  padding: 45.746% 0 0 0;
  background-color: #f1f1f1;

  video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media all and (max-width: 459px) {
    margin: -30px 0 0 -15px;
    background-color: #000;
    width: calc(100% + 30px);
    padding-top: calc((100% + 30px) * 0.45746);

  }
}

.zeroBox {
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;
}

.zeroBoxInner {
  font-size: 14px;
  line-height: 1.3;
  word-spacing: normal;
  letter-spacing: normal;
}

.wrapContent {
  max-width: 1430px;
  padding: 0;
  margin: 20px auto;
  position: relative;
  clear: both;
  //overflow: hidden;
  @extend .zeroBox;
  //align-items: stretch;


  &.readMoreContent {
    top: -45px;
  }

  & > .content {
    width: calc(100% - 340px);
    padding: 0 15px;
    vertical-align: top;
    display: inline-block;
    @extend .zeroBoxInner;

    & + .content {
      margin-top: 30px;
    }

    &.wide {
      width: 100%;
    }

    @media all and (max-width: 1140px) {
      width: calc(100% - 250px);
      &.wide {
        width: 100%;
      }
    }
  }

  & > .sidebar {
    width: 340px;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    position: sticky;
    top: 60px;
    @extend .zeroBoxInner;

    &.noSticky {
      position: relative;
      top: auto;
    }

    @media all and (max-width: 1140px) {
      width: 250px;
    }

  }

  @media all and (max-width: 1023px) {

    & > .content {
      padding-left: 10px;
      padding-right: 10px;
    }

    & > .sidebar {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media all and (max-width: 767px) {
    & {
      overflow: hidden;
    }
    & {
      display: block;

      & + & {
        //margin-top: 20px;
      }
    }

    & > .content {
      width: 100%;
    }

    & > .sidebar {
      width: 100%;
      position: relative;
      top: auto;
      margin: 30px 0 0 0;
    }
  }

}

.contentAd {
  margin: 20px 0 0 0;
  text-align: center;

  &Title {
    color: #bbb;
    font-size: 10px;
    text-align: center;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 21px;
  }

  &Image {
    width: 100%;
    height: auto;
  }

}

.sidebarAd {
  text-align: center;

  &Title {
    color: #bbb;
    font-size: 10px;
    text-align: center;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 21px;
  }

  &Image {
    width: 100%;
    height: auto;
  }

  & + * {
    margin-top: 20px;
  }
}

/*

.wrapContent {
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;
  padding: 30px 0;
  @extend .defWidth;
  //margin: 0 -10px;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 10px;
  font: $mainFont;
  word-spacing: normal;
  letter-spacing: normal;

  @media all and (max-width: 767px) {
    display: block;
    width: 100%;
  }
}

.content {
  display: inline-block;
  vertical-align: top;
  width: 75%;
  padding: 0 10px;
  font: $mainFont;
  word-spacing: normal;
  letter-spacing: normal;
  &.wide {
    float: none;
    width: 100%;
  }

  @media all and (max-width: 767px) {
    display: block;
    width: 100%;
  }
}

.pageTitle {
  font: $mainFont;
  word-spacing: normal;
  letter-spacing: normal;
  padding: 0 10px;
  position: relative;
  margin: 10px 20px 30px 20px;

  h1 {
    color: #492582;
    font-size: 24px;
    line-height: 26px;
    padding: 7px 0;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    @media all and (max-width: 959px) {
      display: block;
    }
  }

  @media all and (max-width: 767px) {
    margin: 10px 0px 20px 0px;
  }

}

.pageSort{
  float: right;
  position: relative;

  @media all and (max-width: 959px) {
    display: block;
    float: none;
    width: 208px;
  }



  select {
    background-color: #fafafa;
    border: solid 1px #ccc;
    color: #b6b4ba;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    height: 40px;
    width: 208px;
    line-height: 40px;
  }

  &:after {
    content: '>';
    font: 22px "Consolas",monospace;
    color: #aaa;
    transform: rotate(90deg);
    right: 10px;
    top: 8px;
    padding: 0 0 2px;
    background: #fafafa;
    position: absolute;
    pointer-events: none;
  }


  @media all and (max-width: 767px) {
    width: 100%;

    select {
      width: 100%;
    }
  }

}*/

.content {
  .mainPriceBox {
    padding: 0 0 20px 0;
    display: none;
    @media all and (max-width: 767px) {
      display: block;
    }
  }
}

.sidebar {
  .mainPriceBox {
    @media all and (max-width: 767px) {
      display: none;
    }
  }
}

.w100 {
  width: 100% !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  background: #e3e3e3;
  //border: solid 1px transparent;
}

/* Track */
::-webkit-scrollbar-track {
  //border: solid 1px #fff;
  // border-width: 0 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c8e98;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcb800;
}

body * {
  ::-webkit-scrollbar {
    width: 4px;
    background: #e3e3e3;
    //border: solid 1px transparent;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border: solid 1px #fff;
    border-width: 0 1px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8c8e98;
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fcb800;
  }
}

/*.btn {
  display: block;
  padding: 11px 11px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
  border: none;
  border-radius: 4px;
  background-color: #fcb800;
  background-color: #f2e206;
  border: none;
  transition: all .4s ease;
  cursor: pointer;
  margin: 0 0 20px 0;
  text-align: center;
  text-decoration: none !important;

  &:hover {
    background-color: #222;
    color: #fff;
  }

  &Grey {

  }

  &White {
    background-color: #fff;
  }

  &Compact {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
  }
}*/

.btn {
  display: block;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #000;
  border: solid 2px $blueColor;
  border: solid 2px #f2e206;
  border-radius: 25px;
  background-color: $blueColor;
  background-color: #f2e206;
  transition: all .4s ease;
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-align: center;

  &:hover {
    background-color: #222;
    border-color: #222;
    color: #fff;
  }
}

.borderBtn {
  display: block;
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border: solid 2px $blueColor;
  border: solid 2px #f2e206;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
  transition: all .4s ease;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $blueColor;
    background-color: #f2e206;
    color: #000;
  }
}
