.indexTopArticle {
  display: flex;
  margin: 0 -15px;
  align-items: start;


  &Slider {
    max-width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 20px auto 20px auto;
    position: relative;
    overflow: auto;


    .slick-arrow {
      width: 15px;
      height: 15px;
      border: solid 2px #fff;
      border-width: 0 2px 2px 0;
      position: absolute;
      content: "";
      font-size: 0;
      line-height: 0;
      background: none;
      top: 50%;
      transform: rotate(135deg);
      transform-origin: center;
      margin-top: -3px;
      position: absolute;
      left: 15px;

      &.slick-next {
        left: auto;
        right: 15px;
        transform: rotate(-45deg);

      }
    }



    .slick-dots {
      display: none !important;
    }

    &List {
      //display: flex;
      //align-items: center;
      //flex-wrap: nowrap;
      //overflow-x: auto;
      //white-space: nowrap;
      padding: 0 30px;
      //scroll-snap-type: x mandatory;
    }

    .slick-track {
      display: flex;
      align-items: stretch;
    }

    &El {
      width: 200px;
      overflow: hidden;
      outline: none;
      display: inline-flex !important;
      overflow: hidden;
      //display: block !important;
      float: none !important;
      height: auto !important;
      //padding: 10px ;
      margin: 0 10px;
      position: relative;
      border-radius: 8px;
      //scroll-snap-align: start;
      align-items: stretch;
      justify-content: center;

      &:after {
        content: "";
        display: block;
        padding: 56.25%  0 0 0;
        font-size: 0;
        line-height: 0;
      }

      img {
        max-width: 100%;
        display: block;
        height: auto !important;
        //object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

    }

  }



  &Content {
    width: 66.66666667%;
    padding-left: 15px;
    padding-right: 15px;
    position: sticky;
    top: 52px;
  }

  &Sidebar {
    width: 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media all and (max-width: 1023px) {

    & {
      margin-left: -10px;
      margin-right: -10px;
    }
    &Content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &Sidebar {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media all and (max-width: 767px) {

    & {
      display: block;
    }
    &Content {
      width: 100%;
      position: relative;
      top: auto;
    }

    &Sidebar {
      width: 100%;
      margin-top: 30px;
    }
  }
}

.indexNews {
  @extend .zeroBox;
  margin: 0 -15px;

  &Content {
    @extend .zeroBoxInner;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 270px);
    padding-left: 15px;
    padding-right: 15px;
  }

  &Sidebar {
    @extend .zeroBoxInner;
    display: inline-block;
    vertical-align: top;
    width: 270px;
    padding-left: 15px;
    padding-right: 15px;
    position: sticky;
    top: 60px;
  }

  @media all and (max-width: 1023px) {
    & {
      margin-left: -10px;
      margin-right: -10px;
    }

    &Content {
      padding-left: 10px;
      padding-right: 10px;
    }

    &Sidebar {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
    }
  }

  @media all and (max-width: 767px) {

    & {
      display: block;
    }
    &Content {
      width: 100%;
    }

    &Sidebar {
      width: 100%;
      position: relative;
      top: auto;
    }
  }

  &Title {
    position: relative;
    &Bg {
      font-size: 90px;
      text-transform: uppercase;
      position: absolute;
      left: -4px;
      z-index: 1;
      top: -8px;
      line-height: 1;
      letter-spacing: -0.6px;
      white-space: nowrap;
      color: #f3f3f3;
      font-weight: 800;
    }

    &Fg {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 900;
      letter-spacing: -0.6px;
      padding: 36px 0 26px 12px;
      color: #4c4084;
      position: relative;
      z-index: 2;
    }
  }
}

.indexMain {
  &Header {
    background-color: #4c4084;
    padding: 50px 15px 70px 15px;
    color: #fff;
    margin: 0 -15px;
    position: relative;


    @media all and (max-width: 1023px) {
      margin: 0 -10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    & > * {
      z-index: 2;
      position: relative;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      bottom: 0;
      background-color: #4c4084;
      content: "";
      transform: translate(-50%, 0);
      z-index: 0;
    }
  }

  &Title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.1;
    //font-weight: 700;
    //font-family: $titleFont;
  }

  &Text {
    margin: 16px 0 0 0;
    font-size: 16px;
    line-height: 28px;
  }
  &Inner {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    margin: 30px -15px 0 -15px;
  }

  &Sidebar {
    width: 41.66666667%;
    //width: 66.6666%;
    //width: 33.3333%;
    padding: 0 15px;
    margin: -100px 0 0 0;
    position: sticky;
    top: 52px;
    z-index: 2;

    &.wide{
      width: 66.6666%;
    }
  }

  &Content {
    width: 58.33333333%;
    //width: 33.3333%;
    //width: 66.6666%;
    //padding: 0 15px;


    &.wide {
      width: 100%;
      clear: both;
    }
  }

  &Sidebar.wide + &Content {
    width: 33.3333%;
  }

    @media all and (max-width: 1023px) {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;

    &Inner {
      margin-left: -10px;
      margin-right: -10px;
    }

    &Sidebar {
      padding: 0 10px;
    }

    &Content {
      padding: 0 10px;
    }
  }

  @media all and (max-width: 767px) {

    &Inner {
      display: block;
    }

    &Content {
      width: 100% !important;
    }

    &Sidebar {
      width: 100% !important;
      position: relative;
      top: auto;
      margin-bottom: 30px;
    }
  }
}