.social {
  overflow: hidden;
  font-size: 0;
  line-height: 0;

  & > a {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    position: relative;

    &:after {

    }
  }

  &Yb {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("yb.svg");
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      content: "";
    }
  }
  &Fb {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("fb.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
    }
  }
  &In {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("in.svg");
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      content: "";
    }
  }
  &Tw {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("tw.svg");
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      content: "";
    }
  }
  &Vk {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("vk.svg");
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      content: "";
    }
  }

  &_black {
    & > * {
      //filter: invert(1);
    }
  }
}