

#comments {
  margin-bottom: 50px
}

#comments h5 {
  font-size: 11px;
  letter-spacing: .15em;
  font-weight: 600
}

.comments-list {
  list-style: none;
  margin: 0;
  padding-left: 0
}

.comments-list>li {
  margin-bottom: 15px;
  padding: 15px
}

.comments-list>li:after,.comments-list>li:before {
  content: " ";
  display: table
}

.comments-list>li:after {
  clear: both
}

.comments-list>li.rating {
  border: 1px dashed #e7e7e7
}

.comments-list .children {
  list-style: none;
  margin: 15px -15px 0;
  padding-left: 40px
}

.comments-list .children>li {
  padding: 15px
}

.comments-list .children>li:last-child {
  border-bottom: 0
}

.comment:after,.comment:before {
  content: " ";
  display: table
}

.comment:after {
  clear: both
}

.comment-pic,.comment-text {
  display: inline-block;
  float: left
}

.comment-pic {
  width: 15%
}

.comment-pic img {
  margin-top: 10px;
  width: 75px;
  border-radius: 50%
}

.comment-text {
  width: 85%;
  padding-left: 15px
}

.comment-date {
  color: #858585;
  display: block;
  font-size: 13px;
  margin-bottom: 10px
}

.comment-reply {
  font-size: 11px;
  text-transform: uppercase
}

.comment-respond {
  margin-bottom: 50px;
  padding: 20px 0
}

.comment-respond textarea {
  max-width: 100%;
  min-height: 120px;
  resize: none
}

.comment-respond h5 {
  font-size: 11px;
  letter-spacing: .15em;
  margin-bottom: 25px;
  font-weight: 600
}