.mainHeader {
  position: relative;
  height: 244px;
  overflow: visible;

  @media all and (max-width: 767px) {
    height: 52px;
  }

  &Yb {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("yb.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      content: "";
    }
  }
  &Fb {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("yb.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      content: "";
    }
  }
  &In {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("yb.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      content: "";
    }
  }
  &Tw {
    position: relative;
    &:after {
      width: 18px;
      height: 18px;
      background-image: inline("yb.svg");
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -9px 0 0 -9px;
      content: "";
    }
  }

  &Top {
    background: #000;
    color: #fff;

    @media all and (max-width: 767px) {
      display: none;
    }

    &Nav {
      font-size: 13px;
      line-height: 14px;

      a {
        padding: 15px 9px;
        float: left;
        color: #fff;
        text-decoration: none;
        @extend .animateAll;

        &:hover {
          color: $blueColor;
          text-decoration: none;
        }

      }
    }

    &Links {

      a {
        color: #fff;
        text-decoration: none;
        @extend .animateAll;

        &:hover {
          color: $blueColor;
          text-decoration: none;
        }

      }

      & > * {
        float: left;
        line-height: 14px;
        padding: 15px 0;
        min-width: 44px;
        min-height: 44px;
        text-align: center;
      }
    }
  }

  &Acc {
    margin-left: 30px;
  }

  &Top &Inner {
    display: flex;
    justify-content: space-between;
  }

  &Inner {
    @extend .globalBox;
  }

  &Banner &Inner {
    height: 175px;
    position: relative;
  }

  &Banner {
    background: url("img/headerBanner.jpg") top center no-repeat;
    position: relative;
    background-size: cover;

    @media all and (max-width: 767px) {
      display: none;
    }
    &Logo {
      width: 200px;
      height: 56px;
      position: absolute;
      top: 50%;
      left: 20px;
      display: block;
      background-image: inline("logoKonsa_w.svg");
      background-size: contain;
      margin: -30px 0 0 0;
    }
  }

  &Logo {
    width: 100px;
    height: 28px;
    display: none;
    background-image: inline("logoKonsa.svg");
    background-size: contain;

    @media all and (max-width: 767px) {
      float: left;
      display: block;
      margin: 15px 20px 0 0;
      width: 80px;
      margin-right: 10px;
      background-position: left center;
      background-repeat: no-repeat;
    }

    .fixedHeader & {
      float: left;
      display: block;
      margin: 15px 20px 0 0;

      @media all and (max-width: 959px) {
        width: 80px;
        margin-right: 10px;
        background-position: left center;
        background-repeat: no-repeat;
      }
    }
  }

  &Content {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 10px;
    @extend .globalBox;
    padding: 0;
    margin: -35px auto 0 auto;
    top: 0;
    z-index: 5;
    position: relative;
    height: 60px;

    @media all and (max-width: 767px) {
      margin: 0;
      height: 52px;
    }

    &Inner {
      @extend .globalBox;
      position: relative;
    }
    @media all and (max-width: 767px) {
      position: fixed;
      transition: margin 0.5s;
      top: 0;
      left: 0;
      right: 0;
      margin-top: 0px;
      height: 52px;
      max-width: 100%;
      border-radius: 0;
      background: #fff;
    }

    .fixedHeader & {
      position: fixed;
      transition: margin 0.5s;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 0;
      margin-top: 0px;
      //border-top: solid 4px #fff;
      height: 52px;
      max-width: 100%;
      background: #fff;
    }

    &Btns {
      float: right;

      &Acc {
        display: none;

      }
    }

    &Acc {
      display: none;

      @media all and (max-width: 767px) {
        display: block;
        color: #000;
        position: absolute;
        height: 52px;
        line-height: 16px;
        padding: 18px 0 18px 20px;
        font-weight: 700;
        right: 50px;
      }

      .fixedHeader & {
        display: block;
        color: #000;
        position: absolute;
        right: 75px;
        height: 52px;
        line-height: 16px;
        padding: 18px 0 18px 20px;
        font-weight: 700;

        @media all and (max-width: 959px) {
          right: 50px;
        }
      }
    }
  }

  &Nav {
    &Toggle {
      display: none;
      background-image: inline("nav.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      float: left;

      @media all and (max-width: 767px) {
        display: inline-block;
        margin: 11px 15px 0 0;
      }
    }
  }

  &Search {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    width: calc(100% - 75px);
    right: 75px;
    height: 60px;
    background: #fff;
    padding: 10px 80px 10px 10px;
    border-right: solid 1px #f7f7f7;
    opacity: 0;
    transition: opacity 0.5s;

    &.active {
      opacity: 1;
      top: 0;
      display: block;
    }

    &Input {
      display: block;
      width: 100%;
      border: solid 1px #eaeaea;
      line-height: 20px;
      color: #444;
      max-width: 100%;
      height: 40px;
      min-height: 40px;
      padding: 9px 9px;
    }

    &Submit {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      background-color: transparent;
      right: 15px;
      cursor: pointer;
      display: block;
      border: none;
      background-image: inline("search.svg");
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &Btn {
      width: 60px;
      height: 60px;
      float: right;
      position: relative;
      cursor: pointer;

      &:after {
        width: 20px;
        content: "";
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -10px;
        fill: #000;
        @extend .animateAll;
        background-image: inline("search.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:hover:after {
        background-image: inline("searchBlue.svg");
      }

      &.active {
        &:after {
          background-image: inline("close.svg");
        }
        &:hover:after {
          background-image: inline("closeBlue.svg");
        }
      }

      @media all and (max-width: 767px) {
        width: 45px;
        margin-right: -15px;
        height: 52px;
      }
      .fixedHeader & {
        height: 52px;

        @media all and (max-width: 959px) {
          width: 45px;
          margin-right: -15px;
        }
      }
    }

    .fixedHeader & {
      height: 52px;
      padding: 6px 80px 6px 6px;

      &Input {
      }

      &Submit {
        height: 52px;
      }

      @media all and (max-width: 959px) {
        width: calc(100% - 45px);
      }
    }

    @media all and (max-width: 959px) {
      & {
        //height: 52px;
        //width: calc(100% - 45px);
        //padding: 6px 80px 6px 6px;

        &Input {
        }

        &Submit {
          //height: 52px;
        }
      }

      .fixedHeader & {
        height: 52px;
        width: calc(100% - 45px);
        padding: 6px 80px 6px 6px;

        &Input {
        }

        &Submit {
          height: 52px;
        }
      }
    }

    @media all and (max-width: 767px) {
      &, .fixedHeader & {
        height: 52px;
        width: calc(100% - 45px);
        padding: 6px 40px 6px 6px;

        &Input {
        }

        &Submit {
          height: 52px;
          width: 39px;
          right: 0;
        }
      }
    }

  }

}

.mainNav {

  @media all and (min-width: 768px) {
    float: left;

    &Close {
      display: none;
    }

    &List {
    }

    &El {
      float: left;

      &Sub {
        display: none;
        border-radius: 10px;

        &ArticleControls {
          margin: 10px 0 0 0;

        }

        &Article {

          &Prev, &Next {
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            border: solid 1px #dcdcdc;

            &:after {
              width: 5px;
              height: 5px;
              position: absolute;
              top: 50%;
              left: 50%;
              display: block;
              transform-origin: center;
              border: solid 1px #dcdcdc;
              margin: -3px 0 0 -3px;
              content: "";
            }

            &.disabled {
              opacity: .5;

            }

            &:not(.disabled):hover {
              background-color: #266fef;
              border-color: #266fef;
              opacity: 1;
              cursor: pointer;

              &:after {
                border-color: #fff;
              }
            }
          }

          &Prev {
            &:after {
              border-width: 0 1px 1px 0;
              transform: rotate(135deg);
              margin: -3px 0 0 -2px;
            }
          }

          &Next {
            &:after {
              border-width: 0 1px 1px 0;
              transform: rotate(-45deg);
            }
          }

        }
      }

      .subArticleEl {
        width: 20%;
        float: left;
        padding: 0 10px;

        &Img {
          padding: 66% 0 0 0;
          position: relative;
          display: block;
          border-radius: 10px;
          overflow: hidden;

          img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            min-width: 100%;
          }
        }

        &Tag {
          padding: 7px 0 0;

          a {
            padding: 6px 0;
            color: #666666;
            font-size: 11px;
            line-height: 1;
            margin: 0 5px 0 0;
            display: inline-block;
            vertical-align: top;
            font-weight: 400;
            text-decoration: none;

            &:hover {
              color: #000;
              text-decoration: none;
            }
          }
        }

        &Name {
          margin: 1px 0 4px 0;

          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            color: #051d2d;
            text-decoration: none;

            &:hover {
              color: #266fef;
              text-decoration: none;
            }
          }
        }

        &Info {

        }

        &Auth {
          color: #666666;
          font-size: 11px;
          line-height: 1;
          margin: 0 5px 0 0;
          display: inline-block;
          vertical-align: top;
          font-weight: 400;
          text-decoration: none;

          &:hover {
            color: #000;
            text-decoration: none;
          }
        }

        &Date {
          color: #aaa;
          font-size: 11px;
          line-height: 1;
          margin: 0 5px 0 0;
          display: inline-block;
          vertical-align: top;
          font-weight: 400;
          text-decoration: none;
        }

      }

      &Title {
        line-height: 20px;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        display: block;
        text-decoration: none;
        padding: 20px 14px;
        position: relative;

        @media all and (max-width: 959px) {
          padding-left: 10px;
          padding-right: 10px;

          .fixedHeader & {
            padding-left: 5px;
            padding-right: 5px;
          }
        }

        &:after {
          width: 6px;
          height: 6px;
          border: solid 2px #000;
          border-width: 0 2px 2px 0;
          position: absolute;
          content: "";
          right: 14px;
          top: 50%;
          transform: rotate(45deg);
          margin-top: -3px;
          display: none;
          @media all and (max-width: 959px) {
            right: 10px;

            .fixedHeader & {
              right: 5px;
            }
          }
        }

        &:hover {
          color: $blueColor;
          text-decoration: none;

          &:after {
            border-color: $blueColor;
          }
        }

        .fixedHeader & {
          padding: 14px 14px;
          font-size: 14px;
        }
      }

      &.subList {
        position: relative;
      }
      &.subList &Sub {
        display: block;
        padding: 18px 0;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.14);
        position: absolute;
        top: -999px;
        left: 0;
        background-color: #fff;
        z-index: 99;

        &List {
          min-width: 100%;

          a {
            padding: 4px 20px;
            display: block;
          }
        }

        &El {
          &Title {
            display: block;
            padding: 4px 28px;
            color: #919191;
            font-size: 13px;
            text-decoration: none;

            &:hover {
              color: #266fef;
              background: rgba(2, 75, 107, 0.05);
            }
          }
        }
      }

      &.subList:hover &Sub {
        top: 100%;
      }

      &.subArticle {
      }

      &.subArticle &Sub {
        display: block;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.14);
        background-color: #fff;
        z-index: 99;
        height: auto;
        border: 1px solid #eaeaea;
        overflow: hidden;
        padding: 0 30px;
        max-height: 0;
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;
        position: absolute;
        width: 100%;
        left: 50%;
        top: -999px;
        transform: translateX(-50%);
        max-width: 1402px;

        &Nav {
          &El {
            text-align: right;
            a {
              padding: 2px 22px;
              color: #000000;
              display: block;
              background: rgba(0, 0, 0, 0);
              font-size: 13px;
              text-decoration: none;
              font-weight: 400;

              &:hover {
                color: #266fef;
                text-decoration: none;
              }
            }
          }
        }

        &Article {
          display: flex;
          align-items: stretch;

          &Content {
            width: calc(100% - 200px);
            padding: 0 0 0 30px;
            &.wide {
              width: 100%;
              padding: 0;
            }
          }

          &Sidebar {
            width: 200px;
            position: relative;

            &:after {
              background: rgba(10, 0, 0, 0.05);
              position: absolute;
              top: -30px;
              right: 0;
              width: 1px;
              bottom: -30px;
              display: block;
              content: "";
            }
          }

          &Sidebar + .mainNavElSubArticleContent {
            .subArticleEl {
              width: 25%;
            }
          }

          &List {
            margin: 0 -10px;
            overflow: hidden;
          }

        }
      }

      &.subArticle:hover &Sub {
        top: 60px;
        padding-top: 30px;
        padding-bottom: 30px;
        max-height: none;

        .fixedHeader & {
          top: 48px;
        }
      }

      &.subList &Title,
      &.subArticle &Title {
        padding-right: 30px;

        @media all and (max-width: 959px) {
          padding-right: 20px;

          .fixedHeader & {
            padding-right: 15px;
          }
        }

        &:after {
          display: block;
        }
      }

    }

    &Social {
      display: none;
    }

    &Acc {
      display: none;
    }
  }

  @media all and (max-width: 767px) {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 40;
    transition: left 0.5s;
    padding: 20px;
    color: #fff;
    overflow: auto;
    background: #007cba url("img/navBg.png") center top no-repeat;
    background-size: cover;

    &:after {
      //background: linear-gradient(to bottom, #333145 0, rgba(38, 111, 239, 0.82) 100%);
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      bottom: 0;
      content: "";
      z-index: 41;
      transition: left 0.5s;
    }

    & > * {
      position: relative;
      z-index: 45;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    &El {

      &Title, &SubEl a {
        display: block;
        line-height: 21px;
        font-size: 21px;
        color: #fff;
        margin-left: 0;
        padding: 12px 30px 12px 12px;
        font-weight: 700;
      }
      &.subArticle .mainNavElSub {
        display: none;
      }

      &.subList .mainNavElTitle {
        display: none;
      }
      &.subList .mainNavElSub {
        display: block;
      }
    }

    &Social {
      display: block;
    }

    &Acc {
      display: block;
      margin-top: 20px;
      text-align: center;

      a {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        vertical-align: middle;
      }
    }

    &List {
      margin: 20px 0 0 0;
    }

    &Close {
      position: absolute;
      top: 0;
      right: 0;
      width: 70px;
      height: 70px;
      background-image: inline("closeWhite.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
      z-index: 50;
      cursor: pointer;
    }

    .showNav &,
    .showNav &:after {
      left: 0;
    }
  }

}