.category {
  @extend .globalBox;
  display: flex;
  padding: 0;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;

  @media all and (max-width: 991px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
  }

  & > * {
    width: 100%;
  }

  &Nav {
    position: relative;
    padding: 30px 20px 80px 30px;
    background-color: #ffffff;
    max-width: 20%;

    &Title {
      margin-bottom: 35px;
      font-weight: 400;
      font-size: 24px;
    }

    &List {
      display: block;
      list-style: none;
      margin: 0;

      ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          a {
            display: block;
            padding: 3px 0;
            line-height: 20px;
            color: #000;
            list-style: none;
            margin: 0;
            transition: all 0.4s ease;
            text-decoration: none;

            &:hover {
              color: #fcb800;
              text-decoration: none;
            }
          }
        }
      }
    }

    &AllLink {
      position: absolute;
      bottom: 45px;
      left: 30px;
      font-style: italic;
      color: #666;
    }
  }

  &Slider {
    max-width: 24%;
    background: #d7d7d7;
    position: relative;
    overflow: hidden;

    @media all and (max-width: 1199px) {
      display: none;
    }

    .slick-dots {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      list-style: none;
      z-index: 20;

      li {
        display: inline-block;
        margin-right: 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        font-size: 0;
        line-height: 0;

        &:last-child {
          margin-right: 0;
        }

        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: none;
          padding: 0;
          font-size: 0;
          line-height: 0;
          background-color: rgba(255, 255, 255, 0.5);
        }

        &.slick-active {
          button {
            background-color: #ffffff;
          }
        }
      }

    }

    .slick-track {
      display: flex;
      align-items: stretch;
      flex-wrap: nowrap;
    }

    &List {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 0;
      line-height: 0;
      word-spacing: 0;
      letter-spacing: 0;
      background-color: #ffffff;
    }

    &El {
      position: relative;
      float: none !important;
      border-width: 0 15px;
      display: inline-block !important;
      vertical-align: top;
      width: 288px;
      height: 100%;

      video {
        display: block;
        position: absolute;
        width: 288px;
        //height: 1000px;
        min-height: 100%;
        bottom: 0;
        left: 0;
      }
    }

    .slick-arrow {
      font-size: 0px;
      line-height: 0px;
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      padding: 0;
      position: absolute;
      top: 50%;
      margin: -15px 0 0 0;
      opacity: 0.6;
      z-index: 30;

      &:hover {
        opacity: 1;
      }

      &:before {
        font-size: 30px;
        line-height: 30px;
        position: absolute;
        top: 5px;
        left: 5px;
        @extend .lineariconsEl;
      }
    }

    .slick-next {
      @extend .icon-chevron-right;
      right: 0px;
    }

    .slick-prev {
      @extend .icon-chevron-left;
      left: 0px;
    }
  }

  &Content {

    .catalog {

      &El {
        width: 33.3333%;

        @media all and (max-width: 767px) {
          width: 50%;
        }
      }
    }
  }

  @media all and (max-width: 991px) {
    &Nav {
      max-width: 100%;
      padding: 30px 20px 40px 30px;

      &Title {
        margin-bottom: 20px;
      }

      &List {
        li {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 10px;
        }

      }

      &AllLink {
        position: static;
        bottom: auto;
        display: inline-block;
        cursor: pointer;
        left: auto;
      }
    }

  }

}