.basket {

  &List {
    display: table;
    width: 100%;

    &Footer {
      padding-top: 30px;
      padding-bottom: 90px;
    }

    &Header {
      display: table-row;

      @media all and (max-width: 767px) {
        display: none;
      }

      &El {
        padding: 15px 10px;
        text-transform: uppercase;
        color: #000;
        text-align: left;
        font-weight: 600;
        background-color: #f2f2f2;
        border: none;
        display: table-cell;

        &:first-child {
          text-align: left;
        }

      }
    }

    &Content {
      display: table-row-group;
    }

    &Remove {
      &Link {
        font-size: 20px;
        text-decoration: none;

        &:hover {
          color: #fcb800;
        }
      }
    }

    &El {
      display: table-row;

      @media all and (max-width: 767px) {
        display: block;
        position: relative;
        font-size: 0;
        line-height: 0;
        word-spacing: 0;
        letter-spacing: 0;

        & > * {
          font: $mainFont;
          word-spacing: normal;
          letter-spacing: normal;
        }
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      & + & {

      }

      &Cell {
        display: table-cell;
        padding: 20px 10px;
        vertical-align: middle;
        font-size: 16px;
        border-top: 1px solid #dee2e6;
      }

      &Img {
        width: 100px;
        display: inline-block;
        vertical-align: middle;
        @media all and (max-width: 767px) {
          width: 70px;
        }
      }

      &Title {
        display: inline-block;
        width: calc(100% - 135px);
        padding: 0 0 0 30px;
        font-size: 16px;
        color: #0066cc;
        vertical-align: middle;

        @media all and (max-width: 767px) {
          width: 70px;
          width: calc(100% - 75px);
          padding: 0 0 0 30px;
        }
      }
      &Total {
        & > span {
          display: none;
        }

        &Current {
          &:after {
            @extend .rub;
            content: "a";
          }
        }
      }
      &Price {
        & > span {
          display: none;
        }

        &Current {
          color: #000;

          &:after {
            @extend .rub;
            content: "a";
          }
        }

        &Old {
          color: #666;
          font-size: 14px;
          text-decoration: line-through;
          &:after {
            @extend .rub;
            content: "a";
          }
        }
      }


      &Qnt {
        & > span {
          display: none;
        }
        &Minus, &Plus {
          color: #000;
          font-size: 20px;
          width: 40px;
          text-align: center;
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          line-height: 40px;

          i {
            font-style: normal;
            cursor: pointer;
          }

          @media all and (max-width: 400px) {
            width: 20px;
          }
        }

        &Plus {
          left: auto;
          right: 0;
        }

        &Input {
          background-color: #ffffff;
          border: 1px solid #ccc;
          height: 40px;
          padding: 0 40px;
          outline: none;
          transition: all .4s ease;
          box-shadow: 0 0 0 #000;
          text-align: center;
          font-size: 14px;
          width: 100%;
          display: block;
          color: #000;
          border-radius: 0;
          border-color: rgba(0, 0, 0, 0.25);
          @media all and (max-width: 400px) {
            padding: 0 20px;
          }

        }
        &Box {
          position: relative;
          width: 100px;
          @media all and (max-width: 400px) {
            width: 70px;
          }
        }
      }
      @media all and (max-width: 767px) {
        &Total {
          vertical-align: top !important;
          & > span {
            display: block;
            font-size: 12px;
          }
        }
        &Price {
          vertical-align: top !important;
          & > span {
            font-size: 12px;
            display: block;
          }
        }
        &Qnt {
          vertical-align: top !important;
          & > span {
            font-size: 12px;
            display: block;
          }
        }
      }
      &Main {
        @media all and (max-width: 767px) {
          display: block;
          padding: 10px 40px 10px 10px;
        }
      }

      &Price, &Qnt, &Total {
        @media all and (max-width: 767px) {
          display: inline-block;
          vertical-align: middle;
          width: 33.3333%;
          border: none;
          padding: 10px 5px;
        }
      }
      &Remove {
        @media all and (max-width: 767px) {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0;

          &Link {
            padding: 10px;
          }
        }
      }

    }
  }

  &Back {
    display: inline-block;
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    border: none;
    border-radius: 4px;
    background-color: #fcb800;
    transition: all .4s ease;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;

    i {
      margin-right: 6px;
      vertical-align: middle;
    }

    &:hover {
      color: #fff;
      background: #000;
    }

    @media all and (max-width: 767px) {
      display: block;
      width: 100%;
      float: none;
      margin: 10px 0 0 0;
    }
  }

  &Update {
    float: right;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #000;
    line-height: 20px;
    color: #000;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    transition: all .4s ease;
    cursor: pointer;
    text-decoration: none !important;

    i {
      margin-right: 6px;
      vertical-align: middle;
    }

    &:hover {
      color: #000;
      background: #fcb800;
      border-color: #fcb800;
    }

    @media all and (max-width: 767px) {
      display: block;
      width: 100%;
      float: none;
      margin: 10px 0 0 0;
    }

  }
}

.order {
  margin: 0 -15px;
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;

  &Col {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    padding: 0 15px;
    font: $mainFont;
    word-spacing: normal;
    letter-spacing: normal;
    clear: both;
    position: relative;
    break-inside: avoid;

    .basketOnlyInfo & {
      //display: block;
      //width: 100%;
      //max-width: 500px;
      //margin: 0 auto;
    }

    &Text {
      width: 66.6666%;
    }

    @media all and (max-width: 959px) {
      width: 50%;

      &Text {
        width: 100%;
      }

      &:first-child {
        display: block;
        width: 100%;
      }

      .basketOnlyInfo & {
        display: block;
        width: 100%;
        margin: 0 auto;
      }

    }

    @media all and (max-width: 767px) {
      display: block;
      width: 100%;
    }

    &Title {
      position: relative;
      display: block;
      font-size: 20px;
      color: #000;
      margin-bottom: 35px;
    }
  }

  &Code {
    &Error {
      margin: 0 0 10px 0;
      color: red;
    }
    &Success {
      margin: 0 0 10px 0;
      color: #fcb800;
    }

    input.success {
      border-color: #fcb800
    }
  }
  &CodeBtn {
    display: inline-block;
    padding: 15px 45px;
    font-size: 16px;
    line-height: 20px;
    transition: all .4s ease;
    cursor: pointer;
    border: 2px solid #cccccc;
    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
    color: #000;
    border-radius: 0;
    margin: 20px 0 0 0;

    &:hover {
      border: 2px solid #fcb800;
      color: #fff;
      background: #fcb800;
    }
  }

  &Box {
    margin-bottom: 30px;
    padding: 30px 35px;
    background-color: #f1f1f1;
    border: 1px solid #bfbfbf;

    &Btn {
      display: block;
      padding: 15px 15px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #000;
      width: 100%;
      border: none;
      border-radius: 4px;
      background-color: #fcb800;
      text-align: center;
      transition: all .4s ease;
      cursor: pointer;
      text-decoration: none !important;

      i {
        margin-right: 6px;
        vertical-align: middle;
      }

      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }

  &BoxList {
    & > a, & > div {
      border-bottom: 1px solid #d6d6d6;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: block;
      line-height: 24px;
      margin-left: 40px;
      transition: all 0.4s ease;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        color: #fcb800;
      }
    }

    a[data-delivery],
    div[data-delivery] {
      &:after {
        @extend .rub;
        content: "a";
      }
    }
  }

  &Total {
    display: block;
    line-height: 1.6em;
    color: #000;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;

    span + span {
      color: #ff3300;
      font-weight: 600;
      float: right;
      &:after {
        @extend .rub;
        content: "a";
      }
    }
  }

  &SubTotal {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6em;
    color: #666;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;

    span + span {
      float: right;
      &:after {
        @extend .rub;
        content: "a";
      }
    }
  }

  &Discount {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6em;
    color: #666;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;

    span + span {
      float: right;
      &:after {
        @extend .rub;
        content: "a";
      }
    }
  }

  &BoxDeliveryWrap {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.6em;
    color: #666;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;

    span {
      float: right;
      &:after {
        @extend .rub;
        content: "a";
      }
    }
  }
}

input.error {
  border-color: red !important;
  color: #000 !important
}

// fix for Tatar \ bitrix
#order_form_div .order {
  #order_form_content {

    display: inline-block;
    vertical-align: top;
    width: 66.6666%;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;

    .basketOnlyInfo & {
      display: block;
      width: 100%;
    }

    @media all and (max-width: 959px) {
      display: block;
      width: 100%;
    }

    .orderCol {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: 0 15px;
      font: $mainFont;
      word-spacing: normal;
      letter-spacing: normal;
      clear: both;
      position: relative;
      break-inside: avoid;

      .basketOnlyInfo & {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }

      @media all and (max-width: 767px) {
        display: block;
        width: 100%;
      }

    }
  }
}

.defForm {

  &Row {
    margin: 30px 0 0 -18px;
    //overflow: hidden;
    display: table;
    min-width: 100%;
    min-width: calc(100% + 18px + 18px);
    clear: both;

    @media all and (max-width: 959px) {
      display: block;
    }

    &:after {
      clear: both;
      content: "";
      height: 0;
      overflow: hidden;
    }

    &:first-child {
      margin-top: 0;
    }

    &_simple {
      margin: 15px 0 0 0;
    }
    &_simple &Col {
      padding: 0;
    }
    &Col {
      padding: 0 18px;
      float: left;
      width: 50%;

      @media all and (max-width: 959px) {
        float: none;
        width: auto;

        & + & {
          margin-top: 30px;
        }
      }

      &_wide {
        float: none;
        width: auto;
      }

      & > label {
        color: #a7a7a7;
        font-size: 16px;
        line-height: 20px;
        display: block;
        margin: 0 0 4px 0;

        span {
          color: #e22319;
        }
      }

      input[type="text"],
      input[type="date"],
      input[type="password"],
      input[type="number"],
      input[type="email"],
      textarea,
      select {
        //width: 100%;
        //border: solid 1px #dddddd;
        //line-height: 24px;
        /*        color: #000000;
                display: inline-block;
                //padding: 12px 0;
                text-indent: 18px;
                background: blue;
                outline: none;
                resize: none;
                min-height: 50px;
                vertical-align: top;
                font: $mainFont;
                font-size: 16px;*/

        display: inline-block;
        vertical-align: top;
        width: 100%;
        resize: none;
        height: 50px;
        padding: 5px 5px 5px 18px;
        background: #fff;
        border: 1px solid #dddddd;
        border-radius: 0px;

        &:invalid {
          //background-color: red;
        }
      }

      select {
        //height: 50px;
      }

      textarea {
        height: 80px;
        white-space: normal;
        line-height: 20px;
        text-indent: 0;
        resize: none;
      }
    }
  }

  &Functional {
    margin: 39px 0 0 0;
    overflow: hidden;

    &Content {
      display: table;

      @media all and (max-width: 767px) {
        display: block;
        margin: 20px 0 0 0;
      }
    }

    &Link {
      color: $templateColor !important;
      text-decoration: none;
      display: inline-block;
      line-height: 20px;
      margin: 10px 0 0 0;

      &:hover,
      &:active {
        color: $templateColor;
        text-decoration: underline;
      }
    }
  }

  &Row_simple + &Functional {
    margin: 20px 0 0 0;
  }

  &Ch {
    font-size: 16px;
    line-height: 18px;
    padding: 4px 0;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;

    input {
      position: absolute;
      top: 0;
      left: -40px;
    }

    input:checked + label {
      &:before {
        background-color: #222222;
        border-color: #222222;
      }
      &:after {
        display: block;
        transform: rotate(45deg);
      }
    }

    label {
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      display: block;
      padding: 2px 0 2px 30px;

      b {
        color: #000;
        font-weight: 600;
      }

      span {
        color: red;
        font-weight: 500;

        &:after {
          @extend .rub;
          content: "a";
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0px;
        height: 20px;
        width: 20px;
        z-index: 10;
        border: 1px solid #000;
        transition: all .4s ease;
      }

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 7px;
        width: 6px;
        height: 10px;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        z-index: 10;
        transform: rotate(0deg);
        transition: all .4s ease;
        display: none;
      }
    }
  }

  &Submit {
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff !important;
    text-align: center;
    text-transform: uppercase;
    background: $templateColor;
    padding: 15px 5px;
    border: none;
    outline: none;
    float: left;
    margin: 0 35px 0 0;

    @media all and (max-width: 767px) {
      float: none;
      display: inline-block;
    }
  }

  &SubmitFalseBtn {
    display: none;
  }

  &Info {
    margin: 15px auto 0 auto;
    color: #a7a7a7;
    font-size: 14px;
    line-height: 16px;

    .order & {
      max-width: 832px;
    }

    a, span.showPopup {
      color: $templateColor;
      text-decoration: none;

      &:hover,
      &:active {
        color: $templateColor;
        text-decoration: underline;
      }
    }

  }

  &Required {
    margin: 40px auto 0 auto;
    font-size: 16px;
    color: #000000;
    line-height: 20px;

    .order & {
      max-width: 832px;
    }

    span {
      color: #e2231b;
    }
  }
}

.showPopup, .showAjaxPopup, .showPopupAjax {
  cursor: pointer;
}