.breadCrumbs{
  padding: 20px 0;
  background-color: #f1f1f1;
  overflow: hidden;
  width: 100%;

  ul {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    display: block;
    list-style: none;

    li {
      display: inline-block;
      font-size: 14px;
      line-height: 20px;
      color: #000;

      &:first-child {
        padding-left: 0;
      }

      a {
        transition: all 0.4s ease;
        line-height: 20px;
        color: #09c;
        text-decoration: none;

        &:hover {
          color: #fcb800;
          text-decoration: none;
        }
      }

      & + li {
        &:before{
          content: "/";
          margin: 0 5px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    position: relative;
    padding: 10px 0;

    ul {
      li {
        font-size: 12px;

        a {
          font-size: 12px;
        }
      }
    }
  }

}