.repair {

  &List {
    margin: 0 0 0 -15px;
    width: calc(100% + 30px);
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &El {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 14px;
    border: 1px solid #fff;
    transition: border-color 0.5s;

    &:hover {
      border: 1px solid #e1e1e1;
    }

    @media all and (max-width: 1100px) {
      width: 33.3333%;
    }
    @media all and (max-width: 767px) {
      width: 50%;
      font-size: 14px;
    }
    @media all and (max-width: 390px) {
      width: 100%;
      border: none;
      border-top: 1px solid #e1e1e1;
    }



    &Img {
      margin-bottom: 16px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &Title {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      @media all and (max-width: 767px) {
        font-size: 14px;
      }
    }

    &List {
      display: block;
      margin: 10px 0 0 0;
      padding: 0;
      list-style: none;

      li {
        padding-left: 15px;
        position: relative;
        display: block;

        &:before {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 3.5px 0 3.5px 5px;
          border-color: transparent transparent transparent #333333;
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
        }

       & + li {
         margin-top: 14px;
       }
      }
    }
  }
}