.shopsInfo {
  overflow: hidden;
  padding: 15px 0;
  margin: 20px 0 0 0;

  &Title {
    line-height: 1.2em;
    font-weight: 700;
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    display: block;
    text-align: center;
    font-family: $titleFont;
  }

  &List {
    margin: 0 -15px;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
  }

  &El {
    padding: 15px 15px;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    text-decoration: none;
    clear: both;
    break-inside: avoid;
    font-size: 16px;
    line-height: 20px;
    word-spacing: normal;
    letter-spacing: normal;
    text-align: center;

    @media all and (max-width: 767px) {
      width: 100%;
      display: block;
    }

    &Title {
      line-height: 1.2em;
      font-weight: 700;
      position: relative;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 26px;
      display: block;
      font-family: $titleFont;
    }

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        color: $yellowColor;
        text-decoration: none;
      }
    }
  }
}