.iconFont {
  display: inline-block;
  vertical-align: top;
  //height: 100%;
  //margin-right: 3px;
}

/*
.contactsIcon:before {
  @extend .iconFont;
  content: "\e90e";
  font-family: "icomoon" !important;
  color: #65478a;
}*/
