.article {

  & + & {
    margin-top: 25px;
  }

  &List {
    margin: 0 -15px;
  }

  &_vertical &El {
    display: flex;

    &Img {
      width: calc(40% + 20px);
      padding: 0 20px 0 0;

    }

    &Content {
      width: calc(60% - 20px);
      border-top: solid 1px #eaeaea;
      padding: 10px 0 0 0;
    }

    &Text {
      margin: 12px 0 0 0;
    }
  }

  &_grid &List {
    display: flex;
    flex-wrap: wrap;
  }

  &_grid &El {
    width: 50%;
    @media all and (max-width: 767px) {
      width: 50%;
    }
  }

  &_grid[data-col="3"] &El {
    width: 33.3333%;

    @media all and (max-width: 767px) {
      width: 50%;
    }
  }

  &El {
    padding: 0 15px 25px 15px;
    width: 100%;

    &:last-child {
      padding-bottom: 0;
    }

    &_v {

    }

    & {
    }

    &Img {
      position: relative;

      .iframeBox {
        width: 100%;
        padding: 56.25% 0 0 0;
        position: relative;
        background: #000;
        border: none;
        border-radius: 10px;
        overflow: hidden;
      }

      iframe {
        width: 100%;
        height: 100%;
        //height: auto;
        vertical-align: top;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        overflow: hidden;
        background: #000;

        video {
          width: 100%;
          height: 100%;
        }
      }
      video, iframe {
        width: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        vertical-align: top;
      }
      img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }

      &Link[data-video] {
        position: relative;
        display: block;

    /*    &:after {
          width: 40px;
          height: 40px;
          position: absolute;
          right: 10px;
          bottom: 10px;
          border-radius: 50%;
          background-image: inline("video-new.svg");
          background-size: contain;
          content: "";
        }*/
      }

      &Link[data-bg] {
        padding: 56.25% 0 0 0;
        top: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
        background-position: center;
        border-radius: 10px;

        img {
          position: absolute;
          top: 0;
          opacity: 0;
        }

        &[data-h="medium"] {
          padding: 60% 0 0 0;
        }
      }
    }

    &Content {
      padding: 13px 0 0 0;
    }
    &_large &Img {
      margin: 14px 0 0 0;
    }
    &Img &Tag {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
    }

    &Author {
      font-size: 16px;
      line-height: 20px;
      display: inline-block;
      vertical-align: top;
      padding: 0 10px 0 0;
    }
    &Price {
      &Current {
        vertical-align: top;
        text-decoration: none;
        font-size: 13px;
        display: inline-block;
        margin: 0 10px 0 0;
        line-height: 1;
        &:after {
          content: "a";
          display: inline-block;
          font-family: 'alsrubl';
          padding: 0 0 0 4px;
        }
      }
    }

    &Tag {
      font-size: 11px;
      line-height: 1;
      margin: 0 0 6px 0;

      a {
        display: inline-block;
        padding: 3px 4px 2px;
        margin-right: 5px;
        background-color: #4c4084;
        line-height: 1;
        color: #fff;
        vertical-align: top;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }

    &Name {
      margin: 0 0 6px;

      a {
        font-size: 17px;
        line-height: 1.1;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          color: #4c4084;
        }
      }
    }


    &_large &Name {
      margin: 0 0 5px 0;

      a {
        font-size: 28px;

        @media all and (max-width: 1023px) {
          font-size: 24px;

        }
        @media all and (max-width: 767px) {
          font-size: 20px;
        }
      }
    }

    &Info {
      margin: 0 0 6px;

    }

    &Auth {
      padding: 0 6px 0 0;
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
      font-size: 13px;
      font-style: italic;
      line-height: 1;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        color: #000000;
      }
    }

    &Date {
      vertical-align: top;
      text-decoration: none;
      font-size: 13px;
      display: inline-block;
      margin: 0 10px 0 0;
      line-height: 1;
    }

    &Learn {
      vertical-align: top;
      text-decoration: none;
      font-size: 13px;
      display: inline-block;
      padding: 0 0 0 20px;
      margin: 0 10px 0 0;
      position: relative;
      line-height: 1;

      &:before {
        position: absolute;
        content: "";
        width: 15px;
        height: 16px;
        left: 0;
        top: 50%;
        margin: -8px 0 0 0;
        background-image: inline("college-graduation.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &Text {
      margin: 20px 0 0;
      font-size: 13px;
      color: #777;
      line-height: 21px;

      //.blackView & {
      //  color:#aaa;
      //}
    }

  }

  @media all and (max-width: 1023px) {
    &List {
      margin-left: -10px;
      margin-right: -10px;
    }

    &El {
      padding-left: 10px;
      padding-right: 10px;

      @media all and (max-width: 767px) {
        /* width: 50%;
         &_large {
          width: 100%;
         }*/
      }
    }
  }
}

.addReply {
  margin: 20px 0 0 0;
}