.basket {

  &List {

  }

  &El {
    display: flex;
    position: relative;
    padding: 15px 0;
    align-items: center;

    & + & {
      border-top: solid 1px #e5e5e5;
    }

    &Img {
      width: 120px;
      padding: 0 20px 0 0;

      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        overflow: hidden;
      }
    }

    &Info {
      padding: 0 20px 0 0;
      width: calc(100% - 120px - 350px);
    }

    &Name {
      font-weight: 700;
      font-size: 1.145em;
    }

    &Qnt, &Price, &Total {
      width: 110px;
      padding: 0 20px 0 0;
    }

    &Price, &Total {
      font-weight: 700;
    }
    &Price {
      width: 130px;
      span {
        &:after {
          content: " руб.";
        }
      }
    }
    &Total {
      width: 110px;
      text-align: right;
      padding: 25px 0;

      span {
        &:after {
          content: " руб.";
        }
      }
    }

    &Remove {
      position: absolute;
      top: 10px;
      right: -5px;

      &Btn {
        width: 30px;
        height: 30px;
        border: solid 5px transparent;
        background-image: inline("close.svg");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        cursor: pointer;
      }
    }
  }

  &Bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    width: 100%;
  }

  &Coupon {
    width: 300px;
    &Title {
      @extend .sidebarBoxTitle;
    }

    &Text {
      font-weight: 700;
    }

    &Error {
      margin: 5px 0 0 0;
      color: red;
    }

    &Val {
      margin: 15px 0 0 0;

      &Text {
        @extend .formElInput;
        text-align: center;
        font-weight: 700;

      }

      input {
        @extend .formElInput
      }
    }

    &Remove {
      &Btn {
        @extend .formSubmit
      }
    }
    &Submit {
      margin: 10px 0 0 0;

      &Btn {
        @extend .formSubmit

      }
    }
  }

  &Total {
    width: 300px;
    &Sum {
      @extend .sidebarBoxTitle;
    }
  }

  &Submit {
    &Btn {
      background: #fd860a;
      color: white;
      border-color: white;
      width: 100%;
      display: block;
      //border-radius: 5px;
      text-align: center;
      border-radius: 25px;
      line-height: 20px;
      padding: 15px 0;
      cursor: pointer;
      font-size: 18px;
      transition: all 0.5s;

      &:hover {
        text-decoration: none;
        background: $mainBlack;
        color: #fff;
      }
    }
  }

  &Credit {
    margin-top: 15px;
    color: #3583bd;
    text-decoration: underline;
    font-weight: 700;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $mainBlack;
    }
  }

  @media all and (max-width: 767px) {
    &Bottom {
      display: block;
    }

    &Coupon {
      width: 100%;
    }

    &Total {
      width: 100%;
      margin: 30px 0 0 0;
    }

    &El {
      flex-wrap: wrap;
      align-items: start;
      padding-left: 120px;
      min-height: 155px;

      &Img {
        width: 0;
        position: relative;
        left: -120px;
        padding: 0;
        height: 0;
        float: left;

        img {
          max-width: 100px;
          width: 100px;
          height: auto;
        }
      }

      &Info {
        padding: 0 30px 0 0;
        width: 100%;
      }

      &Name {
        font-weight: 700;
        font-size: 1.145em;
      }

      &Qnt, &Price, &Total {
        width: 100%;
        padding: 0;
        margin: 5px 0 0 0;
      }

      &Price {
        &:before {
          content: "Цена: ";
        }

        &Cur, &Old {
          display: inline;
        }
      }

      &Total {
        text-align: left;

        &:before {
          content: "Всего: ";
        }

        &Sum {
          display: inline;
        }
      }

      &Remove {
        position: absolute;
        top: 10px;
        right: -5px;

        &Btn {
          width: 30px;
          height: 30px;
          border: solid 5px transparent;
          background-image: inline("close.svg");
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}

.orderNew {
  &Submit {
    padding: 0 0 0 30px;
    &Btn {
      background: #fd860a;
      color: white;
      border-color: white;
      width: 100%;
      display: block;
      //border-radius: 5px;
      border-radius: 25px;
      text-align: center;
      line-height: 20px;
      padding: 15px;
      cursor: pointer;
      border: none;
      font-size: 18px;
      transition: all 0.5s;

      &:hover {
        text-decoration: none;
        background: $mainBlack;
        color: #fff;
      }
    }

    &Row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

    }

    @media all and (max-width: 959px) {
      padding: 20px 0 0 0;
      width: 100%;

      &Row {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}


.sidebar {
  &Box {
    //background-color: #fff;
    //border-radius: 10px;
    //overflow: hidden;
    //padding-top: 10px;

    &Title {
      font-family: $titleFont;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      color: $mainBlack;

      text-transform: uppercase;
      position: relative;


    }

    &Title {
      padding: 0 0 13px 0;
      margin: 0 0 15px 0;
      border-bottom: 1px solid #eeeeee;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 83px;
        height: 1px;
        z-index: 2;
        background-color: $mainBlack;
      }
    }

  }
}