.catalog {

  .slick-arrow {
    font-size: 0px;
    line-height: 0px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    background: #fff;
    outline: none;
    top: 50%;
    margin: -20px 0 0 0;
    opacity: 0.6;
    z-index: 2;



    &:after {
      width: 15px;
      height: 15px;
      border: solid 2px #000;
      border-width: 0 2px 2px 0;
      position: absolute;
      content: "";
      font-size: 0;
      line-height: 0;
      background: none;
      top: 50%;
      left: 50%;
      transform: rotate(135deg);
      transform-origin: center;
      margin: -7px 0 0 -5px;


    }

    &.slick-next:after {
      transform: rotate(-45deg);
      margin: -7px 0 0 -10px;
    }
    &:hover {
      opacity: 1;
    }

    &:before {
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      background: #fff;
      top: 5px;
      left: 5px;
      //@extend .lineariconsEl;
    }
  }

  .slick-next {
    //@extend .icon-chevron-right;
    right: 25px;
  }

  .slick-prev {
    //@extend .icon-chevron-left;
    left: 25px;
  }

  .slick-dots {
    display: none !important;
  }

  &List {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 15px -7px;
    @media all and (max-width: 767px) {
      margin-left: -15px;
      margin-right: -15px;

    }
  }

  &_x4 &List {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media all and (min-width: 960px) {
    &_x4 &El {
      width: calc(25% - 14px);
    }
  }
  @media all and (max-width: 959px) {
    &_x4 &El {
      width: calc(50% - 14px);
    }
  }

  &El {
    width: calc(33.3333% - 14px);
    margin: 7px;
    padding: 14px 14px 78px 14px;
    //padding: 0 0 10px 0;
    border: solid 1px #eaeaea;
    border-radius: 10px;
    padding: 9px;
    //border: solid 1px #fff;
    background-color: #fff;
    transition: all 0.5s;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //border-radius: $br;
    //box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);

    &:hover &Img{
      opacity: 0.8;
      //border: 1px solid #e5e5e5;
    }

    @media all and (max-width: 767px) {
      //padding: 14px 10px 14px 10px;
      //border: none;

      &:hover {
        //border: none;
      }
    }

    @media all and (max-width: 639px) {
      width: calc(50% - 14px);
    }

    @media all and (max-width: 319px) {
      width: calc(100% - 14px);
    }

    &Img {
      padding: 80% 0 0 0;
      background-position: center center;
      background-size: cover;
      position: relative;
      width: 100%;
      display: block;
      text-decoration: none;
      margin: 0 0 16px 0;
      border-radius: 5px;
      border-radius: $br;
      transition: opacity 0.2s;
      overflow: hidden;

      img {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .catalogSlider & {
        display: flex;
        img {
          opacity: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &Info {
      //padding: 0 14px;
      text-align: left;
      display: block;
    }

    &Name {
      color: $mainBlack !important;
      font-family: $titleFont;
      font-weight: 700;

      @media all and (max-width: 767px) {
        //padding: 0 10px;
      }

      &:hover {
        color: #5B5C6C !important;
        text-decoration: underline;
      }
    }

    &Price {
      //padding: 0 14px !important;
      text-align: left;
      margin: 5px 0 0 0;

      @media all and (max-width: 767px) {
        //padding: 0 10px !important;
      }

      &Cur {
        color: #5B5C6C;
        font-size: 1.145em;
        font-weight: 700;

        &:after {
          content: " руб.";

          html[lang="en"] & {
            content: " $";
          }
        }
      }

      &Credit {
        color: #5B5C6C;
        font-size: 1.045em;
        font-weight: 700;

        &:after {
          content: " руб./мес.";
          
          html[lang="en"] & {
            content: " $/month";
          }
        }
      }
    }

    &Rating {
      margin: 5px 0 0 0;
      width: 100%;
      display: block;
    }

    &Buy {
      position: absolute;
      bottom: 14px;
      left: 14px;
      right: 14px;
      background: #fd860a;
      border: solid 1px #fd860a;
      line-height: 20px;
      padding: 12px 0;
      text-align: center;
      transition: all .4s ease;
      border-radius: 5px;
      color: #fff !important;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
      display: none;

      @media all and (max-width: 767px) {
        display: none;
      }
    }

    //@media all and (max-width: 959px) {
      //width: 50%;
      flex-direction: column;
      text-align: center;

      &Info {
        //padding-right: 0;
        //width: 100%;
      }

      &Price {
        padding-top: 8px;
        padding-left: 0;
        width: 100%;
      }
      &Rating {
        text-align: center;
      }
    //}

    .catalog_x4 & {
      @media all and (min-width: 960px) {
        //width: 50%;
        flex-direction: column;
        text-align: center;

        &Info {
          //padding-right: 0;
          //width: 100%;
        }

        &Price {
          padding-top: 8px;
          padding-left: 0;
          width: 100%;
        }
        &Rating {
          text-align: center;
        }
      }
    }
  }

  &Option {
    padding: 5px 0;
    margin: 40px 0 0 0;
    border: solid 1px #f0f0f2;
    border-width: 0 0 1px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media all and (max-width: 959px) {
      flex-direction: column;
      text-align: center;
      align-items: left;
      justify-content: center;
      margin: 15px 0 0 0;
    }
  }

  & + &Option {
    border-width: 1px 0 0 0;
    margin: 15px 0 0 0;
  }

  &Stock {
    display: inline-flex;
    flex-wrap: wrap;
    font-weight: 400;
    color:#6c6c6c;

    &Title {
      margin: 0 10px 0 0;
    }
    &Ch {
      @extend .filterCh;
      margin: 0 15px 0 0;
      font-weight: 400;

      label {
        font-weight: 400;
      }
    }

    @media all and (max-width: 959px) {
      & + .pagination {
        margin-top: 10px;
      }
    }

    @media all and (max-width: 639px) {
      //margin: 0 -5px;
      text-align: left;

      &Title {
        width: 100%;
        margin: 0 0 0 0;
      }

      &Ch {
        margin: 5px 10px 0 0;

      }
    }

  }
}

.pagination {
  display: inline-flex;
  a, span {
    margin: 0 0 0 3px;
    color: $mainBlack;
    background: #fff;
    border: solid 1px #e5e5e5;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 0;

    &.active,
    &:hover {
      border-color: $mainBlack;
    }
  }
}