.filter {
  //border: solid 1px #eaeaea;
  //border-radius: 10px;
  //padding: 9px;

  &Title {
    color: #4c4084;
    font-size: 24px;
    line-height: 26px;
    font-weight: 900;
    margin-bottom: 16px;

    @media all and (max-width: 767px) {
      display: none;
    }
  }

  &Toggle {
    display: none;

    @media all and (max-width: 767px) {
      display: block;
      color: #fd860a;
      font-size: 16px;
      line-height: 20px;
      padding: 10px;
      text-align: center;
      margin: 15px 0 15px 0;
      border-radius: 21px;
      //border-radius: 0px;
      width: 100%;
      cursor: pointer;
      border: solid 1px #fd860a;
    }
  }

  &Close {
    display: none;
  }

  &Box {
    padding: 15px 0;

    &.active {

    }

    & + & {
      border-top: solid 1px #d3d3d6;
    }

    &Title {
      color: $mainBlack;
      font-weight: 700;
      border: none;
      font-size: 13px;
      cursor: pointer;

      span {
        &:after {
          width: 6px;
          height: 6px;
          margin: 0 0 0 5px;
          position: relative;
          top: -2px;
          display: inline-block;
          border: solid $mainBlack;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          transform-origin: center;
          content: "";
        }
      }
    }

    &Content {
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 0.5s;
    }

    &.active &Content {
      padding: 15px 0 0 0;
      max-height: 2000px;
      overflow: hidden;
    }

    &.fixed &Content {
      padding: 15px 0 0 0;
      max-height: 2000px;
      overflow: hidden;
    }

    &.active &Title {
      span {
        &:after {
          transform: rotate(225deg);
          top: 0;
        }
      }
    }
    &.fixed &Title {
      & span:after {
        display: none;
      }
    }

  }

  &List {

  }

  &Ch, &Rd {
    position: relative;
    overflow: hidden;
    margin: 10px 0;

    input {
      position: absolute;
      width: 22px;
      height: 22px;
      opacity: 0;
      z-index: 1;
    }

    label {
      display: block;
      padding: 1px 0 1px 32px;
      position: relative;
      color: #6c6c6c;
      line-height: 20px;
      min-height: 22px;
      vertical-align: top;
      z-index: 2;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        border-radius: 3px;
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        border: 1px solid #e5e5e5;
      }
    }

    input:checked + label {
      &:after {
        left: 8px;
        top: 4px;
        width: 7px;
        height: 12px;
        display: block;
        border: solid #6c6c6c;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        position: absolute;
        content: "";
      }
    }
  }
  input:disabled + label {
    cursor: default;
    opacity: 0.5;
  }

  &Rd {
    label {
      &:before {
        border-radius: 50%;
      }
    }
    input:checked + label {

      &:before {
        border-color: $mainBlack;
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 10px;
        border-radius: 50%;
        height: 10px;
        display: block;
        border: none;
        background: $mainBlack;
        transform: none;
        position: absolute;
        content: "";
      }
    }
  }

  &Options {
    border-top: solid 1px #f0f0f2;
    padding: 15px 0 0 0;
    display: flex;
  }

  &Submit {
    /*    color: #fff;
        background: #fd860a;
        border: solid 1px #fd860a;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        padding: 6px;
        width: calc(50% - 5px);
        border-radius: 17px;
        margin: 0 5px 0 0;
        transition: all 0.5s;

        &:hover {
          color: #fff;
          background: $mainBlack;
          border-color: $mainBlack;
          cursor: pointer;
        }*/

    @extend .btn;
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
  }

  &Clear {
    color: #fd860a;
    background: #fff;
    border: solid 1px #fd860a;
    border-radius: 17px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 6px;
    width: calc(50% - 5px);
    margin: 0 0 0 5px;
    transition: all 0.5s;

    &:hover {
      color: $mainBlack;
      border-color: $mainBlack;
      cursor: pointer;
      text-decoration: none;
    }
  }

  @media all and (max-width: 767px) {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    transition: left linear 0.3s;
    overflow: auto;
    margin: 0;
    background: #fff;
    z-index: 1000;

    body.showFilter & {
      left: 0;
    }

    &Close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      padding: 10px;
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      z-index: 1000;

      &:after {
        background-image: inline("close.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }

      &:before {
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        content: "";
        display: block;
      }
    }

    &Inner {
      padding: 10px 10px 10px 10px;
      position: absolute;
      overflow: auto;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 55px;
    }

    &Options {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      padding: 10px 0 0 0;
    }
  }

}