.formBox {
  &Control {
    outline: none;
    height: 50px;
    font-size: 14px;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 0;
    transition: all .4s ease;
    box-shadow: 0 0 0 #000;
    text-shadow: 0 0 black;
  }

  &Title {
    margin: 30px 0 20px 0;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  &Row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
  }

  &El {
    width: 50%;
    padding: 0 15px;
    margin: 15px 0 0 0;

    @media all and (max-width: 767px) {
      width: 100%;
    }

    &.wide {
      width: 100%;
    }

    label {
      @extend .formBoxLabel;
    }

    & > input {
      @extend .formBoxInput;
    }

    & textarea {
      @extend .formBoxTextarea;
    }
  }

  &Label {
    margin-bottom: 5px;
    display: inline-block;

    &[required] {
      &:after {
        content: "*";
        display: inline-block;
        vertical-align: top;
        color: #952c2c;
      }
    }
  }

  &Input, &Textarea {
    transition: all .4s ease;
    padding: 7.5px 10px 7.5px;
    background: #fff;
    border: solid 1px #e5e5e5;
    min-height: 38px;
    border-radius: 3px;
    display: block;
    width: 100%;

    &:focus {
      border-color: rgba(214, 169, 22, .5);
      box-shadow: 0 0 3px rgba(214, 169, 22, 0.5);
    }
  }

  &Textarea {
    height: 120px;
    resize: none;
  }

  &Submit {
    margin: 30px 0 0 0;
  }

  &SubmitBtn {
    color: $mainBlack;
    background-color: #fff;
    border: solid 1px $mainBlack;
    transition: all .4s ease;
    padding: 7.5px 19px;
    font-size: 13px;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    //border-radius: 5px;
    border-radius: 18px;
    overflow: hidden;
    font-weight: 700;
    display: block;
    width: 100%;

    &:hover {
      background-color: $mainBlack;
      color: #fff;
    }

    /*.order &, .basket & {
      border-color: #fd860a;

      &:hover {
        background-color: #fd860a;
      }
    }*/

  }

  &Rd {
    @extend .filterRd;
    padding: 0 15px;
    margin: 15px 0 0 0;
  }

  &Cd {
    @extend .filterCh;
    padding: 0 15px;
    margin: 15px 0 0 0;
  }

}