.largeNews {
  margin: 15px 0 0 0;

  &List {

  }

  &El {

    & {
      padding-bottom: 25px;
      margin-bottom: 25px;
      flex-direction: row;
      display: flex
    }

    &Img {
      width: 49%;
      border-radius: 10px;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &Content {
      padding: 0 0 0 20px;
      width: 51%;
    }



    &Tags {
      font-size: 11px;
      line-height: 1;
      margin: 0 0 6px 0;

      a {
        padding: 0 6px 0 0;
        display: inline-block;
        text-decoration: none;
        color: #aaa;
        font-size: 11px;
        line-height: 1;
        font-weight: 400;

        &:hover {
          color: #fff;
        }
      }
    }

    &Name {
      margin: 0 0 6px;
      a {
        font-size: 26px;
        color: #111;
        line-height: 1.2;
        text-decoration: none;
        font-weight: 500;
        //font-weight: 700;
        //font-family: $titleFont;
        &:hover {
          color: #266fef;
        }
      }
    }

    &Info {
      margin: 0 0 6px;

    }

    &Auth {
      padding: 0 6px 0 0;
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
      color: #aaa !important;
      font-size: 11px;
      line-height: 1;
      font-weight: 400;

      &:hover {
        color: #aaa !important;
      }
    }

    &Date {
      color: #aaa;
      vertical-align: top;
      text-decoration: none;
      font-size: 11px;
      display: inline-block;
      position: relative;
      line-height: 1;
    }

    &Text {
      margin: 20px 0 0;
      font-size: 13px;
      line-height: 21px;
    }
  }

  @media all and (max-width: 767px) {


    &El{

      &Img {
        width: 35%;
      }

      &Content {
        width: 65%;
      }

      &Name {
        a {
          font-size: 20px;
        }
      }
    }

  }

  @media all and (max-width: 480px) {


    &El{
      display: block;

      &Img {
        width: 100%;
        display: block;
      }

      &Content {
        width: 100%;
        display: block;
        padding: 0;
        margin: 10px 0 0 0;
      }

      &Name {
        a {
          font-size: 20px;
        }
      }
    }

  }
}