.pagination {
  padding-top: 60px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;

  a, span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    padding: 0 14px;
    position: relative;
    color: #000;
    line-height: 32px;
    border: none;
    background-color: #f5f5f5;
    font-size: 14px;
    transition: all 0.4s ease;
  }

  a.active,
  a:hover {
    background-color: $blueColor;
    color: #fff;
    text-decoration: none;
  }

}