.text {
  overflow: hidden;
  &VideoAlign {
    float: left;
    width: 60%;
    margin: 0 30px 0 0;

    & + p {
      margin-top: 0;
    }

    @media all and (max-width: 767px) {
      float: none;
      width: 100%;
      margin: 15px 0;
    }
  }
}

.textBox {
  overflow: hidden;

  .videoBox, .scaleHoverImg {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
    iframe {
      overflow: hidden;
      border-radius: 10px;
    }
  }
  .videoBox + & {
    margin-top: 30px;
  }

  & > *:first-child {
    margin-top: 0;
  }

  .textVideoAlign {
    margin-bottom: 0;
  }

  iframe {
    max-width: 100%;
  }

  a {
    color: #266fef;
    text-decoration: none;

    &:hover {
      color: #266fef;
      text-decoration: underline;
    }



  }

  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 26px;
  }

  &Img {
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      text-align: left;
      margin: 6px 0 26px;
      font-size: 11px;
      font-style: italic;
      font-weight: 400;
      line-height: 17px;
      color: #444;
      text-decoration: none;
    }
  }

  blockquote {
    padding: 0;
    position: relative;
    border-left: none;
    margin: 40px 5% 38px;
    font-style: italic;
    text-align: center;
    color: $yellow;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @media all and (max-width: 767px) {
      margin: 20px 5%;
      font-size: 22px;
      line-height: 28px;
    }
  }
}